$primary-red: #ff5c6f;
// rgba(255, 92, 111, 1)
$primary-orange: #ff826b;
// rgba(255, 130, 107, 1)
$light-cream: #fff6ed;
// rgba(255, 246, 237, 1)
$cream: #f8e4c9;
// rgba(248, 228, 201, 1)
$primary-green: #00a19a;
// rgba(0, 161, 154, 1)
$primary-yellow: #ffbb59;
// rgba(255, 187, 89, 1)
$secondary-yellow: #f9a14c;
// rgba(249, 161, 76, 1)
$primary-navy: #333a64;
// rgba(51, 58, 100, 1)
$secondary-navy: #414254;
// rgba(65, 66, 84, 1)
$dark-grey: #313131;
// rgba(49, 49, 49, 1)
