<!-- Modal -->
<div class="modal fade" id="checkoutHelper4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="text-fix modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-start">
                <h4 class="quick-font px-3 grn-font">Please support our cause</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body quick-font">
                <div class="container">
                    <div class="row">
                        <p class="px-3">
                            We'd love to continue our project and help more kids, <span class="grn-font bold-text">but as a nonprofit, it's difficult to continue without your support.</span>

                            Your support will help us to further develop and improve this project, 
                            so we can reach out to more foster kids and bring smiles to them.                            
                        </p>
                    </div>

                    <div class="row">

                        <p class="px-3">We will also use the proceeds to purchase wish items that <span class="grn-font bold-text">did not get donated by the deadline,</span> 

                            so that no kid is left disappointed. 
                            Thank you so much for helping us help others.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">See Wish Cards</button> -->
            </div>
        </div>
    </div>
</div>