<!-- facebook login -->
<script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '<%- process.env.FB_APP_ID %>',
        cookie: true,
        xfbml: true,
        version: 'v8.0',
      });
      FB.AppEvents.logPageView();
    };
    (function (d, s, id) {
      var js,
              fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js';
      fjs.parentNode.insertBefore(js, fjs);
    })(document, 'script', 'facebook-jssdk');
  </script>
  
  <!-- google login -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="<%- process.env.G_CLIENT_ID %>" />
  <!-----------Client JS ---------->
  <script src="/public/clientJS/loginModal.js"></script>
  <script src="/public/clientJS/socialLogin.js"></script>
  <script src="/public/clientJS/togglePasswordVisibility.js"></script>
  
  <%- include('./firstLogInModal') -%>
  
  <!-----------Modal change flow---------->
  <script>
    function handleEmailSignUp() {
      $('#firstSignUpModal').modal('hide');
    }
    function handleLogIn(){
      $('#firstSignUpModal').modal('hide');
      $('#firstLogInModal').modal('show');
    }
  </script>
  
  <!-----------New login modal begins here---------->
  <div class="new-login modal fade login" id="firstSignUpModal" tabindex="-1" role="dialog"
    aria-labelledby="firstSignUpModal" aria-hidden="true">
  
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="row no-gutters">
          <div class="oauth-side col-12 col-sm-6 col-md-8">
            <div class="d-flex justify-content-center flex-column mx-auto">
              <h3 class="my-3">Join DonateGifts</h3>
  
              <div class="d-flex justify-content-center align-content-center flex-column">
                <!-----------Facebook signin button---------->
                <div class="fb-login-button" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-scope="public_profile,email" data-onlogin="facebookLogin"></div>
                <!-----------Google signin button---------->
                <div class="mx-auto mt-3 mb-2">
                  <div class="g-signin2" data-width="228" data-longtitle="true" data-onsuccess="googleLogin"></div>
                </div>
                <!-----------Email signin button---------->
                <div class="mx-auto mt-3 mb-2">
                  <button onclick="handleEmailSignUp()" id="signup-btn" class="email-login">
                    <i class="far fa-envelope-open"></i>
                    <span>Sign up with Email</span>
                  </button>
                </div>
              </div>
    
              <p class="mt-5">Agency partners must sign in with work email</p>
            </div>
          </div>
          <div class="alt-side col-6 col-md-4">
            <div class="d-flex justify-content-center flex-column mx-auto text-center">
              <h4 class="my-3">Already have an account?</h4>
              <p class="">Great, we missed you!</p>
              <!-- TODO: button style needs to change -->
              <button onclick="handleLogIn()" class="email-login">
                Log in
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  