<!-- footer using bootstrap css-->
<div class="footer footer-bar quick-font">
  <div class="container">
    <div class="row justify-content-center pt-2">
      <p class="p-1">
        <a class="px-2" href="https://www.instagram.com/donategifts/">Social Media</a>
        |
        <span class="yellow px-2"
          ><i class="fa fa-heart" aria-hidden="true"></i>
          <a
            href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=LA5DA2K2C8HLW"
            title="support our organization by paypal donation"
            target="_blank"
          >
            Support Our Cause </a
          ><i class="fa fa-heart" aria-hidden="true"></i
        ></span>
        | <a class="px-2" href="/users/terms">Terms of Service</a> |
        <a class="px-2" href="/faq">Frequently Asked Questions</a> |
        <a class="px-2" href="/contact">Contact Us</a>
      </p>
    </div>

    <div class="row justify-content-center">
      <p class="px-2">Donate Gifts Inc.</p>
      <p>
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved
      </p>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/public/clientJS/simpleToast.js"></script>
<!-- <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
  crossorigin="anonymous"
></script> -->

<script>
  socket = io('<%= process.env.SOCKET_URL %>');
</script>
