<div class="modal fade" id="formQuestionHelper3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="text-fix modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-start">
                <h1 class="form-helper-title quick-font px-5">Why is the child's photo required?</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body quick-font">
                <div class="container">
                    <div class="row justify-content-center">
                        <p class="px-5">The primary goal of this project is to build personal connections between
                            donors and foster kids, and not just a one-time donation.</p>
                        <p class="px-5">Our donors are more encouraged to donate to the wish cards with children's photos. They find
                            this personal connection very special.
                        </p>
                        <p class="px-5">If privacy/confidentiality is a concern, please crop the identifiable features or use photos
                            of them making a heart with their hands, masked faces, their backside, or wearing
                            sunglasses, etc.</p>
                    </div>
                    <div class="row">
                        <p class="px-5">We have this policy to prevent fraudulent wish submission and to ensure that
                            every kid's wish gets a chance for donation.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>