<!-- facebook login -->
<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '<%- process.env.FB_APP_ID %>',
      cookie: true,
      xfbml: true,
      version: 'v8.0',
    });
    FB.AppEvents.logPageView();
  };
  (function (d, s, id) {
    var js,
            fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js';
    fjs.parentNode.insertBefore(js, fjs);
  })(document, 'script', 'facebook-jssdk');
</script>

<!-- google login -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="<%- process.env.G_CLIENT_ID %>" />
<script src="/public/clientJS/loginModal.js"></script>
<script src="/public/clientJS/socialLogin.js"></script>
<script src="/public/clientJS/togglePasswordVisibility.js"></script>

<div
  class="modal fade login"
  id="loginModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loginModalLongTitle"
  aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">

  <div class="modal-content">
    <div class="modal-header">
      <h4 class="crayon-font font-lg center">Log In</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body rale-font">
      <div class="container-fluid">

        <form class="signup" action="/users/login" method="post">
          <div class="wrap-input mg-btm" data-validate="Email is required">
            <label class="quick-font" for="email">Email</label>
            <input
              required
              class="input-default quick-font"
              type="email"
              name="email"
              id="email"
              placeholder=""
              title="example: username@xyz.com"
            />
          </div>

          <div class="wrap-input mg-btm2" data-validate="Password is required">
            <label class="quick-font" for="password">Password</label>
            <div id="input-container">
            <input
              required
              class="input-default quick-font"
              type="password"
              name="password"
              id="password"
              placeholder=""
              pattern="(?=.*\d)(?=.*[a-z]).{8,}"
              title="Must contain at least one number and one lowercase letter, and at least 8 or more characters"
            />
            <i id="showPassword" class="fas fa-eye"></i>
          </div>
          </div>

          <div class="forgot-container quick-font">
            <a href="/users/password/request/">Forgot Password?</a>
          </div>

          <!-- submit button section -->
          <div class="container-form-btn">
            <button class="form-btn quick-font" type="submit">Log In</button>
          </div>
        </form>

        <div class="text-container quick-font">
          <p class="quick-font">or login with</p>
        </div>

        <div id="google-fb-login">
          <div class="d-flex justify-content-center">
            <div
              class="g-signin2 mt-3"
              data-width="228"
              data-longtitle="true"
              data-onsuccess="googleLogin"
            ></div>
          </div>

          <div class="d-flex justify-content-center">
            <div
              class="fb-login-button mt-3"
              data-size="large"
              data-button-type="login_with"
              data-layout="default"
              data-auto-logout-link="false"
              data-use-continue-as="false"
              data-scope="public_profile,email"
              data-onlogin="facebookLogin"
            ></div>
          </div>
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <div class="signup-container quick-font">
        <a href="/users/signup">New here? Sign Up</a>
      </div>
    </div>

  </div>
</div>
</div>