<!-- navigation bar using bootstrap-->
<div class="navbar navbar-expand-md">
  <div class="container">
    <div class="row justify-content-between align-bottom ml-2">
      <a class="site-branding py-1" href="/" rel="home"><img class="d-block" src="/public/img/new-donate-gifts-logo-2.png"
          alt="logo" /></a>
      <nav class="site-navigation d-flex justify-content-end">
        <ul class="d-flex flex-column flex-lg-row justify-content-lg-end">
          <li><a href="/wishcards">Wish Cards</a></li>
          <li><a href="/mission">Mission</a></li>
          <li><a href="/howto">How To</a></li>
          <li><a href="/community">Community</a></li>
          <% if (!locals.user) { %>
          <li><a href="/users/signup">Sign Up</a></li>
          <li><a href="/users/login">Log In</a></li>
          <% } else { %> <% if (locals.user.userRole == 'partner') { %>
          <!-- <li><a href="/wishcards/me">My Wishes</a></li> -->
          <!-- <li><a href="/wishcards/create">Create a Wish Card</a></li> -->
          <% } %> <% if (locals.user.userRole == 'admin') { %>
          <li><a href="/wishcards/admin/">Admin Panel</a></li>
          <% } %>
          <li><a href="/users/profile">Profile</a></li>
          <% } %>
        </ul>
      </nav>
      <!-- the below is for mobile and it only shows in smaller screens-->
      <button class="navbar-toggler d-lg-none mr-4" type="button" data-toggle="collapse"
        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
    </div>

    <div class="row mr-1">
      <div class="collapse d-lg-none w-100 ml-2" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-3 my-1 mt-lg-0">
          <li><a href="/wishcards" class="nav-link">Wish Cards</a></li>
          <li><a href="/mission" class="nav-link">Mission</a></li>
          <li>
            <a href="/howto" class="nav-link">How To</a>
          </li>
          <li><a href="/community" class="nav-link">Community</a></li>
          <% if (!locals.user) { %>
          <li><a href="/users/signup" class="nav-link">Sign Up</a></li>
          <li><a href="/users/login" class="nav-link">Log In</a></li>
          <% } else { %>
          <li><a href="/users/profile" class="nav-link">Profile</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>