<aside class="profile-sidebar">
  <ul class="nav flex-column">
    <li class="nav-item avatar-container">
      <div class="avatar"></div>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">My Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">My Agency</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">My Wishcards</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Donations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Notifications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Friends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Payment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Badges</a>
    </li>
  </ul>
</aside>