<!-- Modal -->
<div class="sign-up-partner-modal modal fade" id="signUpPartnerModal1" tabindex="-1" role="dialog"
    aria-labelledby="signUpPartnerModal1" aria-hidden="true">
    <div class="text-fix modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-start pb-0">
                <div class="row mx-auto p-2">
                    <div class="col-8">
                        <h3 class="text-right pt-3">New Agency Partner</h3>
                    </div>
                    <div class="col-4">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-times-circle"></i>
                        </button></div>
                </div>
            </div>
            <div class="modal-body quick-font p-4 mt-0">
                <form class="signup" action="/users/signup" method="post">
                    <div class="container">
                        <div class="row my-2">
                            <div class="col">
                                <!-- first name -->
                                <div class="signup-field" data-validate="First name is required">
                                    <label for="fName">First name</label>
                                    <input required type="text" name="fName" id="fName" placeholder=""
                                        title="First name must contain alphabets only" />
                                </div>
                            </div>
                            <div class="col">
                                <!-- last name -->
                                <div class="signup-field" data-validate="Last name is required">
                                    <label for="lName">Last name</label>
                                    <input required type="text" name="lName" id="lName"
                                        title="Last name must contain alphabets only" />
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <!-- email -->
                                <div class="signup-field" data-validate="Email is required">
                                    <label for="email">Email address</label>
                                    <input required type="email" name="email" id="email"
                                        title="example: username@xyz.com" />
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <!-- password -->
                                <div class="signup-field" data-validate="Password is required">
                                    <label for="password">Password</label>
                                    <input required type="password" name="password" id="password" placeholder=""
                                        pattern="(?=.*\d)(?=.*[a-z]).{8,}"
                                        title="Must contain at least one number and one lowercase letter, and at least 8 or more characters" />
                                    <!-- <i id="showPassword" class="fas fa-eye"></i> -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="signup-field" data-validate="Password is required">
                                    <label for="password">Confirm Password</label>
                                    <input required type="password" name="password2" id="password2" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mx-auto d-flex justify-content-center align-content-center">
                        <!-- submit button section -->
                        <div class="g-recaptcha" data-sitekey="6LcaNtcZAAAAAJ4wxLdiUe4fc1sLhkILRs-DXnXe"
                            data-callback="confirmCaptchaSubmit" data-size="invisible"></div>
                        <button id="submit-btn" type="submit" class="btn-orange-navy-lg px-5" data-dismiss="modal"
                            data-toggle="modal" data-target="#">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- <div class="modal-footer mx-auto pb-3 pt-0">
                <button type="button" class="btn-orange-navy-lg px-5">Next</button>
            </div> -->
    </div>
</div>
</div>