<%- include('./signUpDonorModal')-%>

<!-- Modal -->
<div class="sign-up-role-modal modal fade" id="signUpUserRoleModal" tabindex="-1" role="dialog"
    aria-labelledby="signUpUserRoleModal" aria-hidden="true">
    <div class="text-fix modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-start pb-0">
                <div class="row mx-auto p-2">
                    <div class="col-8">
                        <h3 class="text-right pt-3">I'm signing up as</h3>
                    </div>
                    <div class="col-4">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-times-circle"></i>
                        </button></div>
                </div>
            </div>
            <div class="modal-body quick-font p-4 mt-0">
                <div class="container">
                    <div class="row no-gutters justify-content-between px-2">
                        <div class="p-2 mx-3 role-select col d-flex justify-content-center align-items-center flex-column shadow"> 
                            <img src="../../public/img/gift-sender-illustration.svg"
                                alt="gift-sender-illustration-for-donor-user-signup" class="mb-2">
                            <h5>Gift Sender</h5>
                            <p>(Individual or corporate donor)</p>
                        </div>
                        <div class="p-2 mx-3 pt-sm-2 role-select col d-flex justify-content-center align-items-center flex-column shadow">
                            <img src="../../public/img/partner-user-illustration.svg"
                                alt="agency-partner-user-signup-illustration" class="mb-2">
                                <h5>Agency Partner</h5>
                                <p>(Nonprofit organization)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer mx-auto pb-3 pt-0">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn-orange-navy-lg px-5" data-dismiss="modal" data-toggle="modal" data-target="#signUpDonorModal">Next</button>
            </div>
        </div>
    </div>
</div>