<div class="modal fade" id="wishCardDonateModal" tabindex="-1" role="dialog" aria-labelledby="wishCardDonateModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body quick-font">
        <div class="container">
          <p></p>
        </div>
      </div>
      <!-- <div class="modal-footer"> -->
          <button type="button" id="modal-donate-btn" class="donate-modal-button quick-font">I'm ready to donate!</button>
      <!-- </div> -->
    </div>
  </div>
</div>