.footer.footer-bar.quick-font
    .container
        .d-flex.justify-content-center.pt-3
            p.yellow.px-2
                i.fa.fa-heart( aria-hidden='true' )
                a.text-decoration-none( href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=LA5DA2K2C8HLW'
                    title='support our organization by paypal donation'
                    target='_blank'
                ) Support Our Cause
                i.fa.fa-heart( aria-hidden='true' )

        .d-md-flex.justify-content-center
            -
                var footerList = [
                    {
                        link: 'https://www.instagram.com/donategifts',
                        text: 'Social Media',
                        target: '_blank',
                        addPipe: true
                    },
                    {
                        link: '/contact',
                        text: 'Contact Us',
                        addPipe: true
                    },
                    {
                        link: '/mission',
                        text: 'Mission',
                        addPipe: true
                    },
                    {
                        link: '/howto',
                        text: 'How It Works',
                        addPipe: true
                    },
                    {
                        link: '/team',
                        text: 'Who We Are',
                        addPipe: true
                    },
                    {
                        link: '/wishcards',
                        text: 'Wish Cards',
                        addPipe: true
                    },
                    {
                        link: '/community',
                        text: 'Community',
                        addPipe: true
                    },
                    {
                        link: '/terms',
                        text: 'Terms',
                        addPipe: true
                    },
                    {
                        link: '/faq',
                        text: 'FAQ',
                        addPipe: false
                    }
                ];

            each item in footerList
                a.px-2.footer-item( href=item.link target=item.target || '' )!= item.text
                if item.addPipe
                    span |

        .d-flex.justify-content-center.pt-3
            p 501(c)(3) non profit charitable organization
        .d-flex.justify-content-center
            - var copyright = '© ' + new Date().getFullYear() + ' All rights reserved!'

            p.px-2 Donate Gifts Inc.
            p= copyright