.footer.footer-bar.quick-font
    .container
        .row.justify-content-center.pt-3
            p.yellow.px-2
            i.fa.fa-heart( aria-hidden='true' )
            a( href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=LA5DA2K2C8HLW'
                title='support our organization by paypal donation'
                target='_blank'
            ) Support Our Cause
            i.fa.fa-heart( aria-hidden='true' )

        .row.justify-content-center
            a.px-2( href='https://www.instagram.com/donategifts/' target='_blank' ) Social Media
            |  |
            a.px-2( href='/contact' ) Contact Us
            |  |
            a.px-2( href='/mission' ) Mission
            |  |
            a.px-2( href='/howto' ) How It Works
            |  |
            a.px-2( href='/team' ) Who We Are
            |  |
            a.px-2( href='/wishcards' ) Wish Cards
            |  |
            a.px-2( href='/community' ) Community
            |  |
            a.px-2( href='/terms' ) Terms
            |  |
            a.px-2( href='/faq' ) FAQ
        .row.justify-content-center.pt-3
            p 501(c)(3) non profit charitable organization
        .row.justify-content-center
            - var copyright = '© ' + new Date().getFullYear() + ' All rights reserved!'

            p.px-2 Donate Gifts Inc.
            p= copyright