script( src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous" )

script( src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous' )

script( src='https://cdn.jsdelivr.net/npm/toastify-js' )
script.
    window.showToast = (
        message,
        success = false,
        duration = 3000,
        offset = { x: 0, y: 0 },
        className = 'custom-toast',
        escapeMarkup = true
    ) => {
        let color = success ? '#ff826b' : '#ff5c6f';

        //Login toast has duration of -1(displays until closed by user), styling is below for it.
        if (duration === -1) {
            color = 'rgba(248, 228, 201, 0.8)'
        }

        Toastify({
            text: message,
            duration,
            newWindow: true,
            close: true,
            gravity: 'top',
            position: 'center',
            backgroundColor: `linear-gradient(to right, ${color}, ${color})`,
            stopOnFocus: true,
            className,
            offset,
            escapeMarkup,
        }).showToast();
    }