{
    "extends": [
        "../../.eslintrc",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "no-prototype-builtins": "off",
        "no-case-declarations": "off",

        "import/no-extraneous-dependencies": "off"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "React": false,
        "ReactDOM": false
    }
}