{
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "extends": [
    "slurp-config"
  ],
  "rules": {
    "require-atomic-updates": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}