# Ignore Mac system files & workspace
.DS_store
VS-workspace.code-workspace
.settings
.project

# Ignore image file folder
uploads

# Ignore node_modules folder
node_modules

# Ignore files related to API keys

config/config.env
*.jpeg
uploads/2020-08-12T03:10:33.540Zboxing.jpeg
uploads/2020-08-12T05:28:03.155Zcoca_cola.jpg
uploads/2020-08-12T05:41:29.153Zbasketball.jpeg
