@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

@font-face {
	font-family: 'DK-Crayon-Crumble';
	src: url('fonts/DK-Crayon-Crumble.ttf');
	src:
		local('DK Crayon Crumble'),
		local('DK-Crayon-Crumble'),
		url('fonts/DK-Crayon-Crumble.ttf')
		format('truetype');
}

body {
    color: #262626;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
}

img {
    vertical-align: baseline;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
    color: #262626;
}

a:visited {
    color: #757686;
}

a:hover, a:focus, a:active {
    color: #262626;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
    list-style: none;
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
/*
# Header Bar
--------------------------------*/
.top-header-bar {
    background: #165B33;
    color: #fff;
}

/*
# Header Bar Email
--------------------------------*/
.header-bar-email,
.header-bar-text {
    padding: 20px 0;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
}

.header-bar-email a,
.header-bar-text span {
    text-transform: lowercase;
    color: #fff;
    text-decoration: none;
}

/*
# Header Bar Text
--------------------------------*/
.header-bar-text {
    margin-left: 48px;
}

.header-bar-text p {
    margin: 0;
}

/*
# Header Bar Donate Button
--------------------------------*/
.donate-btn a {
    display: inline-block;
    padding: 20px 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-decoration: navajowhite;
    background: #A32C28;
}

/*
# Site Branding
-------------------------------- logo-img may need changes-----*/
#logo-img {
  height: 80px;
}

.site-branding {
    width: calc(100% - 24px);
    padding: 20px 0;
}

.site-branding a {
    margin-top: 6px;
}

@media screen and (min-width: 992px){
    .site-branding {
        width: auto;
    }
}

/*
  Hamburger Menu
----------------------------------------*/
.hamburger-menu {
    position: relative;
    width: 24px;
    height: 22px;
    margin: 0 auto;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #262626;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    top: 2px;
}

.hamburger-menu span:nth-child(2),
.hamburger-menu span:nth-child(3) {
    top: 10px;
}

.hamburger-menu span:nth-child(4) {
    top: 18px;
}

.hamburger-menu.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

.hamburger-menu.open span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger-menu.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}

/*
# Main Menu
--------------------------------*/
.site-navigation ul {
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
    width: 320px;
    max-width: calc(100% - 120px);
    height: 100%;
    padding: 30px 15px;
    margin: 0;
    background: #fff;
    list-style: none;
    overflow-x: scroll;
    transition: all 0.35s;
}

.site-navigation.show ul {
    left: 0;
}

.site-navigation ul li {
    margin: 0 16px;
}
.site-navigation ul li a {
    display: block;
    padding: 16px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #262626;
    text-decoration: none;
    transition: color .35s;
}

@media screen and (min-width: 992px) {
    .site-navigation ul {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0;
        overflow: auto;
        background: transparent;
    }

    .site-navigation ul li a {
        padding: 49px 0 30px;
    }
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
    border-bottom: 3px solid #ff5a00;
    color: #ff5a00;
}

/*
# Menu SHopping Cart
--------------------------------*/
.header-bar-cart {
    margin-left: 40px;
}

.header-bar-cart a {
    width: 48px;
    height: 100%;
}

.header-bar-cart a {
    color: #fff;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-slider {
    max-height: 820px;
}

.hero-content-wrap {
    position: relative;
    color: #fff;
}

.hero-content-overlay {
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
}

.hero-content-wrap img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
}

.hero-content-overlay h1 {
    margin: 0;
    font-size: 102px;
    font-weight: 600;
    line-height: 1;
}

.hero-content-overlay h4 {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
}

.hero-content-overlay p {
    font-weight: 500;
    line-height: 1.8;
}

.hero-content-overlay .entry-footer a.btn {
    color: #fff;
}

.hero-slider .pagination-wrap {
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 60px;
}


.hero-slider .swiper-pagination-bullet {
    width: 24px;
    height: 20px;
    margin-right: 6px;
    border-radius: 0;
    font-size: 12px;
    color: #fff;
    background: transparent;
    opacity: 1;
}

.hero-slider .swiper-pagination-bullet-active {
    color: #ff5a00;
}

.hero-slider .swiper-button-next,
.hero-slider .swiper-button-prev {
    width: 70px;
    height: 70px;
    margin-top: -35px;
    border-radius: 50%;
    background: #384030;
    /* background: -moz-linear-gradient(180deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* ff3.6+ */
    /* background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,90,0,1)), color-stop(100%, rgba(1255,54,0,1))); /* safari4+,chrome */
    /* background: -webkit-linear-gradient(180deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* safari5.1+,chrome10+ */
    /* background: -o-linear-gradient(180deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* opera 11.10+ */
    /* background: -ms-linear-gradient(180deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* ie10+ */
    /* background: linear-gradient(270deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* w3c */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600',GradientType=1 ); /* ie6-9 */
    /* transition: all .35s; */
}

.hero-slider .swiper-button-next {
    right: 80px;
}

.hero-slider .swiper-button-prev {
    left: 80px;
}

.hero-slider .swiper-button-next span,
.hero-slider .swiper-button-prev span {
    display: block;
    width: 36px;
    padding-top: 15px;
    margin: 0 auto;
}

.hero-slider .swiper-button-next path,
.hero-slider .swiper-button-prev path {
    fill: #fff;
}

.hero-slider .swiper-button-next.swiper-button-disabled,
.hero-slider .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

@media screen and (max-width: 1200px){
    .hero-content-overlay h1 {
        font-size: 72px;
    }

    .hero-content-overlay h4 {
        font-size: 32px;
    }

    .hero-content-overlay p {
        font-size: 14px;
    }

    .hero-slider .pagination-wrap {
        height: 40px;
    }
}

@media screen and (max-width: 992px){
    .hero-content-overlay h1 {
        font-size: 48px;
    }

    .hero-content-overlay h4 {
        font-size: 22px;
    }

    .hero-content-overlay p,
    .hero-slider .pagination-wrap,
    .hero-slider .swiper-button-next,
    .hero-slider .swiper-button-prev{
        display: none;
    }

    .hero-content-overlay footer{
        margin-top: 12px !important;
    }
}

/*--------------------------------------------------------------
# Elements Page
--------------------------------------------------------------*/
.elements-wrap {
    margin-top: 80px;
}

.elements-page .elements-heading .entry-title {
    font-size: 24px;
    font-weight: 600;
    color: #262626;
}

.elements-page .elements-container {
    margin-top: 54px;
}

.elements-page .btn {
    margin-right: 20px;
}

/*
# Button
----------------------------------*/
.btn {
    padding: 18px 40px;
    border: 2px solid #262626;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #262626;
    outline: none;
}

.button-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

.wishcard-btn {
    padding: 17px 32px;
    margin: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    outline: none;
}

.btn:focus {
    outline: none;
}

.btn-red-border {
    border-color: #BB2528;
}

.btn-red-bg {
  border-color: transparent;
  background: #BB2528;
  color: #fff;
}

.btn.orange-border:hover,
.btn.gradient-bg {
    border-color: transparent;
    background: #BB2528;
    /* background: -moz-linear-gradient(180deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* ff3.6+ */
    /* background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,90,0,1)), color-stop(100%, rgba(1255,54,0,1))); /* safari4+,chrome */
    /* background: -webkit-linear-gradient(180deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* safari5.1+,chrome10+ */
    /* background: -o-linear-gradient(180deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* opera 11.10+ */
    /* background: -ms-linear-gradient(180deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* ie10+ */
    /* background: linear-gradient(270deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* w3c */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600',GradientType=1 ); /* ie6-9 */ */
    color: #fff;
}


/*
# Content
----------------------------------*/
.accordion-wrap .entry-content {
    display: none;
}

.accordion-wrap .entry-content p {
    padding: 18px 38px;
    font-size: 14px;
    line-height: 2;
    color: #929191;
}

/*
# Tabs
----------------------------------*/
ul.tabs-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.tabs-nav .tab-nav {
    padding: 12px 32px;
    margin-right: 6px;
    border-radius: 30px;
    background: #f3f3f3;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    cursor: pointer;
    transition: all .35s;
}

ul.tabs-nav .tab-nav.active {
    border: 0;
    background: -moz-linear-gradient(180deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,90,0,1)), color-stop(100%, rgba(1255,54,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* ie10+ */
    background: linear-gradient(270deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600',GradientType=1 ); /* ie6-9 */
    color: #fff;
}

.tabs .tab-nav {
    margin-bottom: -1px;
    z-index: 99;
}

.tabs-container {
    padding: 34px;
}

.tab-content {
    display: none;
}

.tab-content p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 2;
    color: #929191;
}


/*
# Icon Box
----------------------------------*/
.icon-box {
    padding: 40px;
    border-radius: 24px;
    background: #ecf2f5;
    text-align: center;
    transition: all .35s;
}

.icon-box:hover,
.icon-box.active {
    border: 0;
    background: #2F7336;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #AA3A38, #2F7336);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #AA3A38, #2F7336); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}
/*fix the gradients if necessary!! -------------------*/

.icon-box figure img:nth-of-type(1) {
    display: block;
}

.icon-box figure img:nth-of-type(2) {
    display: none;
}

.icon-box:hover figure img:nth-of-type(1),
.icon-box.active figure img:nth-of-type(1) {
    display: none;
}

.icon-box:hover figure img:nth-of-type(2),
.icon-box.active figure img:nth-of-type(2) {
    display: block;
}

.icon-box .entry-title {
    margin-top: 28px;
    font-size: 24px;
    font-weight: 600;
    color: #262626;
}

.icon-box:hover .entry-title,
.icon-box.active .entry-title {
    color: #fff;
}

.icon-box .entry-content {
    margin-top: 24px;
}

.icon-box .entry-content p {
    margin: 0;
    font-size: 14px;
    color: #595858;
}

.icon-box:hover .entry-content p,
.icon-box.active .entry-content p {
    color: #fff;
}

/*
# Bar Filler
----------------------------------*/
.barfiller {
    position:relative;
    width:100%;
    height:5px;
    border-radius: 3px;
    background:#d6dee1;
}

.barfiller .fill {
    display:block;
    position:relative;
    width:0px;
    height:100%;
    border-radius: 3px;
    background:#333;
    z-index:1;
}

.barfiller .tipWrap {
    display:none;
}

.barfiller .tip {
    left: 0;
    position: absolute;
    z-index: 2;
    width: 42px;
    height: 42px;
    padding-top: 14px;
    margin-top: -21px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    background: #ff5a00;
    color: #fff;
}

/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
/*
# Icon Boxes
--------------------------------*/
.home-page-icon-boxes {
    padding: 96px 0;
}

/*
# Welcome
--------------------------------*/
.home-page-welcome {
    position: relative;
    padding: 96px 0;
    background: url("img/gift-1.jpg") no-repeat center;
    background-size: cover;
    z-index: 99;
}

.home-page-welcome::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(21,21,21,.9);
}

.welcome-content .entry-title {
    position: relative;
    padding-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.welcome-content .entry-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background: #ff5a00;
}

.welcome-content .entry-content {
    font-size: 14px;
    line-height: 2;
    color: #b7b7b7;
}

.home-page-welcome img {
    display: block;
    width: 100%;
}

@media screen and (max-width: 992px){
    .home-page-welcome img {
        margin-bottom: 60px;
    }
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.pagination {
    margin-top: 92px;
}

.pagination a {
    margin-right: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #262626;
    text-decoration: navajowhite;
}

.pagination a:hover,
.pagination .active a {
    color: #ff3900;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
@media screen and (max-width: 992px){
    .sidebar {
        margin-top: 96px;
    }
}

.sidebar h2 {
    font-size: 18px;
    font-weight: 600;
}


/*--------------------------------------------------------------
# wishcards section - landing page
--------------------------------------------------------------*/
.wishcards {
  position: relative;
  padding: 80px 0;
}

#crayon-font {
  font-family: 'DK-Crayon-Crumble', 'Montserrat', sans-serif;
  font-size: 30px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-bar {
    padding: 30px 0;
    font-size: 12px;
    color: #7b7b7b;
    background: #131212;
    text-align: center;
}
