.section-title {
  grid-area: title;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.section-info {
  grid-area: info;
  /* background: linear-gradient(90deg, rgba(255,255,255,1), rgba(255, 209, 90, 1)); */
  border-radius: 20px;
  border: rgba(255, 209, 90, 1) dotted 4px;
  padding: 2em;
  margin-right: 2em;
  color: #262626;
}

.write-msg {
  grid-area: write;
  /* background: linear-gradient(290deg, rgba(255,255,255,1), rgba(255, 209, 90, 1)); */
  border-radius: 20px;
  border: rgba(255, 209, 90, 1) dotted 4px;
  padding: 2em;
  margin-left: 2em;
  color: #262626;
}

.show-msg {
  grid-area: msg;
  background: rgba(255, 209, 90, 0.6);
  border-radius: 10px;
  padding: 2em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'title title title title'
    'info info write write'
    'msg msg msg msg';
}

/* Responsive for tablet/mobile */
@media screen and (max-width: 992px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'title title title title'
      'info info info info'
      'write write write write'
      'msg msg msg msg';
  }

  .section-info {
    margin-right: 0;
  }

  .write-msg {
    margin-left: 0;
  }
}

#img-kid {
  border-radius: 20px;
  width: 420px;
  height: auto;
}

#donate-btn {
  width: 420px;
  border-radius: 10px;
  font-size: 1.3em;
  font-weight: bold;
}

#message {
  border-radius: 10px;
  border: none;
  background: rgba(255, 209, 90, 0.6);
  padding: 1em;
}

#submit {
  background-color: #8bc64d;
  color: #fff;
  padding: 1em;
  width: 360px;
  max-height: 55px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.wishcard {
  &__link--white,
  &__link--white:link,
  &__link--white:visited {
    background-color: #fff;
    color: #333a64;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0.5px solid #333a64;
    transition: all 0.2s ease-in-out;
    width: 100%;
    &:hover {
      background: #333a64;
      color: #fff;
    }
  }

  &-btn {
    padding: 1em 2em;
    margin: 10px;
    border-radius: 20px;
    line-height: 1.2em;
    outline: none;
  }

  &__button--blue {
    appearance: none;
    background: #333a64;
    color: #fff;
    outline: none;
    padding: 12px 15px;
    width: 100%;
    border: 0.5px solid transparent;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: #fff;
      color: #333a64;
      border: 0.5px solid #333a64;
    }
  }

  &__icon--fixed {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    padding: 0;
    width: 3.5rem;
    height: 3.5rem;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
  }
}

.msg-icon {
  background: $primary-yellow;
  padding: 0.6em 0.8em;
  border: none;
  .fa {
    color: #fff;
    font-size: 1.3em;
  }
}
