body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.y-scroll {
  overflow-y: scroll;
  max-height: 100px;
}

.fa-user,
.fa-bell,
.fa-cogs,
.fa-gift {
  font-size: 2.4em;
}

.fa, .fas {
  margin: 0.3em 0.5em;
}

input,
textarea {
  text-decoration: none;
  outline: none;
  border: none;
}

/* 
-----------------------------
Reusable Utils - Button
-----------------------------
*/
%btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 12px 15px;
  width: 100%;
  border: 0.5px solid transparent;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

/* 
-----------------------------
Reusable Hero
-----------------------------
*/
.hero {
  text-align: center;
  color: $white;
  h1 {
    @include font-styling($font-heading, 3.4em);
    text-transform: uppercase;
  }
  h4 {
    @include font-styling($font-body);
    padding-bottom: 0.5rem;
  }
}

/*--------------------------------------------------------------
    Footer
--------------------------------------------------------------*/
.footer-bar {
  padding: 10px 0;
  font-size: 1rem;
  color: $white;
  text-align: center;
  background: lighten($black,5);
}


/* 
-----------------------------
Text Typing Effect 
-----------------------------
*/
.typing {
  // margin-left: 10px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 60px;
    border: 2px solid $white;
    animation: blink 0.5s infinite ease;
    -webkit-animation: blink 0.5s infinite ease;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 
-----------------------------
move this later -- from home.ejs
-----------------------------
*/
.partners-container {
  h1 {
    @include font-styling($font-heading, 2.5rem, $navy, $medium);
    text-align: center;
    padding: 1rem 0rem 3rem 0rem;
  }
}

.thanks {
  h1 {
    @include font-styling($font-heading, 2.5rem, $green, $medium);
    text-align: center;
  }
}

// TODO: this stuff is for createWishcard.ejs and will be moved later
.create-wish {
  padding: 2.5rem 0rem;
  background-color: lighten($cream, 9);
  .card-body {
    padding: 2.5rem;
    @include font-styling($font-body);
  }
  h4 {
    @include font-styling($font-heading, 2.5rem, $orange);
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .input-block {
    display: block;
    width: 100%;
    background: $white;
    line-height: 1.75;
    color: $black;
    padding: 0.5rem 1.25rem;
    border: 0.1rem solid $orange;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
  label {
    font-weight: $semi-bold;
    color: $black;
  }
  a {
    cursor: pointer;
    color: $orange !important;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .uploader {
    background-color: lighten($orange, 14);
    text-align: center;
    vertical-align: middle;
    padding: 0.4em 0.7em;
    outline: none;
    width: auto;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    &:hover {
      background-color: $orange;
    }
  }
  .form-submit {
    background-color: $orange;
    color: $white;
    padding: 0.6em 5em;
    &:hover {
      background-color: lighten($navy, 5);
    }
  }
}
