/* 
-----------------------------
Reusable Utils - Button
-----------------------------
*/
%btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 12px 15px;
  width: 100%;
  border: 0.5px solid transparent;
  transition: all 0.2s ease-in-out;
}

/* 
-----------------------------
Reusable Hero
-----------------------------
*/
.hero {
  text-align: center;
  color: $white;
  h1 {
    @include font-styling($font-heading, 3.4em);
    text-transform: uppercase;
  }
  h4 {
    @include font-styling($font-body);
    padding-bottom: 0.5rem;
  }
}

/* 
-----------------------------
Text Typing Effect 
-----------------------------
*/
.typing {
  // margin-left: 10px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 60px;
    border: 2px solid $white;
    animation: blink 0.5s infinite ease;
    -webkit-animation: blink 0.5s infinite ease;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 
-----------------------------
move this later -- from profile.ejs/css
-----------------------------
*/
.profile-top {
  background: url('../img/profile-bg.png') bottom center no-repeat;
  background-size: cover;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    @include font-styling($font-heading, 3rem, $orange);
    text-transform: capitalize;
    text-align: center;
  }
}

.profile-panel {
  background-color: lighten($cream, 5);
  padding: 2em;
  border-radius: 0.5rem;
  font-size: 1em;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  h4 {
    @include font-styling($font-body, 1.6rem, lighten($black, 15), $semi-bold);
    text-align: center;
  }
  span {
    @include font-styling($font-body, 1.1rem, $orange, $semi-bold);
    margin-left: 1rem;
  }
}

.profile-card {

}


/* 
-----------------------------
move this later -- from home.ejs
-----------------------------
*/

.partners-container {
  h1 {
    @include font-styling($font-heading, 2.5rem, $navy, $medium);
    text-align: center;
    padding: 1rem 0rem 3rem 0rem;
  }
}

.thanks {
  h1 {
    @include font-styling($font-heading, 2.5rem, $green, $medium);
    text-align: center;
  }
}

// TODO: this stuff is for createWishcard.ejs and will be moved later
.create-wish {
  padding: 2.5rem 0rem;
  background-color: lighten($cream, 9);
  .card-body {
    padding: 2.5rem;
    @include font-styling($font-body);
  }
  h4 {
    @include font-styling($font-heading, 2.5rem, $orange);
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .input-block {
    display: block;
    width: 100%;
    background: $white;
    line-height: 1.75;
    color: $black;
    padding: 0.5rem 1.25rem;
    border: 0.1rem solid $orange;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
  label {
    font-weight: $semi-bold;
    color: $black;
  }
  a {
    cursor: pointer;
    color: $orange !important;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .uploader {
    background-color: lighten($orange, 14);
    text-align: center;
    vertical-align: middle;
    padding: 0.4em 0.7em;
    outline: none;
    width: auto;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    &:hover {
      background-color: $orange;
    }
  }
  .form-submit {
    background-color: $orange;
    color: $white;
    padding: 0.6em 5em;
    &:hover {
      background-color: lighten($navy, 5);
    }
  }
}

/** --------------------------------
 -- Sidebar
-------------------------------- */
// .sidebar {
//   background-color: $navy;
//   width: 250px;
//   transition: all .3s ease-in-out;
// 	transform: translateX(0);
//   z-index: 999;
//   .close-aside {
//     position:absolute;
//     top: 7px;
// 	right: 7px;
// 	cursor: pointer;
//   color: $white;
//   }
//   &-header {
//     border-bottom: 1px solid $navy;
//     h5 a {
//       color: $gray;
//     }
//     p {
//       color: $cream;
//     }
//   }
// }

// .sidebar .search .form-control ~ i {
// 	color: #2b2f3a;
// 	right: 40px;
// 	top: 22px;
// }

// .sidebar > ul > li {
// 	padding: .7rem 1.75rem;
// }

// .sidebar ul > li > a {
// 	color: var(--dk-gray-400);
// 	text-decoration: none;
// }

// /* Start numbers */
// .sidebar ul > li > a > .num {
// 	line-height: 0;
// 	border-radius: 3px;
// 	font-size: 14px;
// 	padding: 0px 5px
// }

// .sidebar ul > li > i {
// 	font-size: 18px;
// 	margin-right: .7rem;
// 	color: var(--dk-gray-500);
// }

// .sidebar ul > li.has-dropdown > a:after {
// 	content: '\eb3a';
// 	font-family: unicons-line;
// 	font-size: 1rem;
// 	line-height: 1.8;
// 	float: right;
// 	color: var(--dk-gray-500);
// 	transition: all .3s ease-in-out;
// }

// .sidebar ul .opened > a:after {
// 	transform: rotate(-90deg);
// }
