@import './colors';
@import './fonts';
@import './utils';
@import './layout'; 

/* 
-----------------------------
mission.ejs
-----------------------------
*/
.mission {
  background-color: lighten($cream, 8);
  .header {
    @extend %header;
    h1 {
      padding-top: 1em;
      font-family: $font-heading;
      border-bottom: 11px dotted $yellow;
      padding-bottom: 0.15em;
    }
    p {
      font-family: $font-body;
      font-size: 1.15em;
      line-height: 1.15em;
      margin: 0.5em 2em;
      text-align: center;
    }
  }
}
