@import './colors';
@import './fonts';
@import './utils';

/* 
-----------------------------
from profile.ejs/css
-----------------------------
*/
.profile {
  background-color: lighten($cream, 7);
  @include font-styling($font-body, 1rem);
  .profile-welcome {
    background: url('../img/profile-bg.png') bottom center no-repeat;
    background-size: cover;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      @include font-styling($font-heading, 3rem, $orange);
      text-transform: capitalize;
      text-align: center;
    }
  }
  &-button {
    @extend %btn;
    background-color: $orange;
    color: $white !important;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-size: 1.25rem;
    &:hover {
      background-color: $navy;
      color: $white;
      border: 0.5px solid $navy;
      text-decoration: none;
    }
  }
  &-button-inverted {
    @extend %btn;
    background-color: $white;
    border: 0.12rem solid $orange;
    color: $orange !important;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-size: 1.25rem;
    &:hover {
      background-color: $orange;
      color: $white !important;
      text-decoration: none;
    }
  }
  &-button-navy {
    @extend %btn;
    background-color: $navy;
    color: $white !important;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-size: 1.25rem;
    &:hover {
      background-color: $orange;
      color: $white;
      text-decoration: none;
    }
  }
  &-button-navy-inverted {
    @extend %btn;
    background-color: $white;
    color: $navy !important;
    border: 0.12rem solid $navy;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-size: 1.25rem;
    &:hover {
      background-color: $navy;
      color: $white !important;
      text-decoration: none;
    }
  }
  i {
    color: $orange;
  }
}

.profile-panel {
  background-color: $white;
  padding: 1.75em;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  h4 {
    @include font-styling($font-body, 1.6rem, lighten($black, 15), $semi-bold);
    text-align: center;
  }
  span {
    @include font-styling($font-body, 1.1rem, $orange, $semi-bold);
    margin-left: 1rem;
  }
  input {
    border-bottom: 0.12rem solid $orange;
    color: $orange;
    width: 50%;
  }
  textarea {
    border-bottom: 0.12rem solid $orange;
    color: $orange;
    width: 100%;
  }
}

@media screen and (max-width: 755px) {
  .profile-panel input {
    width: 100%;
  }
}

.profile-header {
  padding: 1em 0;
}

/* ---- About me edit pencil ---- */
.about-me-edit {
  position: relative;
  float: right;
  margin-top: 1em;
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.textarea-about-me {
  position: relative;
  display: flex;
  margin: auto;
  padding: auto;
  width: inherit; 
  height: inherit;
}
