@import './colors';
@import './fonts';

.team {
  padding: 1.5rem;
  &-card {
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    background-color: lighten($cream, 1);
    padding: 1rem;
    margin: 1rem;
    min-height: 390px;
    text-align: center;
  }
  h1 {
    @include font-styling($font-heading, 2.75rem, $red, $semi-bold);
    text-align: center;
    margin: 1rem;
    padding: 1rem;
  }
  h4 {
    @include font-styling($font-body, 1.5rem, $green, $semi-bold);
  }
  h5 {
    @include font-styling($font-body, 1.25rem, $black);
    text-align: center;
    margin-top: -1rem;
  }
  p {
    @include font-styling($font-body, 0.95rem, $black);
  }
}
