extends ../../master

block title
    title Create Wish Cards | Donate Gifts

block scripts
    script.
        $(document).ready(() => {
            const root = ReactRoot(document.querySelector('#app-root'));
            root.render(
                React.createElement(
                    WishCardCreate
                )
            );
        });
