extends ../../master

block title
    title Create a wish card | Donate Gifts

block content
    .container
        form#wishCardForm( method='POST' )
            h1.text-primary.dk-cool-crayon Create a wish card

            .card.shadow.p-3.mt-5
                .card-body
                    .row.py-2
                        .col-md-6.mb-3.md-mb-0
                            label.form-label( for='childFirstName' ) Child's First Name
                            input#childFirstName.form-control( type='text' name='childFirstName' placeholder='(Also allowed: nickname, alias)' )
                        .col-md-6
                            label.form-label( for='childLastName' ) Child's Last Name
                            input#childLastName.form-control( type='text' name='childLastName' placeholder='(Also allowed: last initial)' )
                    .row.py-2
                        .col-md-6.mb-3.md-mb-0
                            label.form-label( for='childBirthday' ) Child's Birthday
                            input#childBirthday.form-control( type='date' name='childBirthday' placeholder="Child's Birthday" )
                        .col-md-6
                            label.form-label( for='childInterest' ) Child's Interest
                            input#childInterest.form-control( type='text' name='childInterest' placeholder='' )

            .card.shadow.p-3.mt-5
                .card-body
                    .row.py-2
                        .col-md-6.mb-3.md-mb-0
                            label.form-label( for='wishItemName' ) Wish Item Name
                            input#wishItemName.form-control( type='text' name='wishItemName' placeholder='' )
                        .col-md-6
                            label.form-label( for='wishItemPrice' ) Wish Item Price (numeric only, round it up)
                                i.fa.fa-question-circle.ms-1( data-bs-toggle='modal' data-bs-target='#formQuestionHelper2' )
                            input#wishItemPrice.form-control( type='number' name='wishItemPrice' placeholder='Price must be under $35' min='1' max='35' )
                    .row.py-2
                        .col-12
                            label.form-label( for='wishItemURL' ) Wish Item Amazon URL
                                i.fa.fa-question-circle.ms-1( data-bs-toggle='modal' data-bs-target='#formQuestionHelper' )
                            input#wishItemURL.form-control( type='text' name='wishItemURL' placeholder='(Item page link https://www.amazon.....)' )

            .card.shadow.p-3.mt-5
                .card-body.row
                    .col-md-6.mb-3.md-mb-0
                        label.form-label( for='childStory' ) Share their story
                        textarea#childStory.form-control( name='childStory' style='height: 200px' placeholder='(e.g. what is their story? why do they want this item? what is their favorite subject?)' )
                    .col-md-6
                        label.form-label( for='preview' ) Upload their photo
                        .col-md-6.mx-auto
                            img#preview.img-fluid( src='/img/img-placeholder.png' alt='image-placeholder' )
                            input#filetag.form-control.bg-secondary.mt-1( type='file' name='wishCardImage' )
                        .mt-2 Required to use an image that is representative of the child. (Also allowed: masked faces, cropped or blurred features, art or something they made, their wish item)
                            .fa.fa-question-circle.ms-1( data-bs-toggle='modal' data-bs-target='#formQuestionHelper3' )

            .card.shadow.p-3.my-5
                .card-body
                    .row
                        .col-md-4
                            .form-check
                                input#agencyAddressCheckBox.form-check-input( type='checkbox' )
                                label.form-check-label( for="agencyAddressCheckBox" ) Ship this wish item to my agency address
                    .row.my-3
                        .col-md-4.mb-3.md-mb-0
                            label.form-label( for='address1' ) Address Line 1
                            input#address1.form-control( type='text' name='address1' placeholder='' )
                        .col-md-4.mb-3.md-mb-0
                            label.form-label( for='address2' ) Address Line 2
                            input#address2.form-control( type='text' name='address2' placeholder='(e.g. unit or suite number)' )
                        .col-md-4
                            label.form-label( for='address_city' ) City
                            input#address_city.form-control( type='text' name='address_city' placeholder='' )
                    .row.my-3
                        .col-md-4.mb-3.md-mb-0
                            label.form-label( for='address_state' ) State
                            input#address_state.form-control( type='text' name='address_state' placeholder='' )
                        .col-md-4.mb-3.md-mb-0
                            label.form-label( for='address_zip' ) Zipcode
                            input#address_zip.form-control( type='text' name='address_zip' placeholder='' )
                        .col-md-4
                            label.form-label( for='address_country' ) Country
                            input#address_country.form-control( type='text' name='address_country' placeholder='(e.g. USA)' )
                    .row
                        .text-center Wish card will be published once reviewed and approved by DonateGifts

                        .d-flex.justify-content-end
                            .col-md-3
                                button#submitInput.btn.btn-lg.btn-primary.w-100.center-elements
                                    span Submit
                                    .spinner-border.spinner-border-sm.text-white.ms-1.d-none( role='status' )
                                        span.visually-hidden Loading...

block modal
    include ../../components/modal/formHelperModals.pug

append scripts
    include ../../mixins/agencyFetching.pug
    +agencyFetchingJS

    script.
        $(document).ready(function () {
            $('#filetag').change(function () {
                const fileReader = new FileReader();
                fileReader.readAsDataURL(this.files[0]);
                fileReader.addEventListener('load', function (event) {
                    $('#preview').attr('src', event.target.result);
                });
            });

            $('#wishCardForm').on('submit', function (event) {
                event.preventDefault();

                $('#submitInput').attr('disabled', true);
                $('#submitInput .spinner-border').toggleClass('d-none');

                const formdata = new FormData($(this)[0]);

                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: '/wishcards',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    statusCode: {
                        200: function (response) {
                            $('#wishCardForm')[0].reset();

                            showToast('WishCard Created!', true);
                            setTimeout(() => location.assign(response.url), 2000);
                        },
                        400: function (response) {
                            $('#submitInput').attr('disabled', false);
                            $('#submitInput .spinner-border').toggleClass('d-none');

                            showToast(response.responseJSON.error.msg);
                        },
                        403: function (responseObject) {
                            $('#submitInput').attr('disabled', false);
                            $('#submitInput .spinner-border').toggleClass('d-none');

                            showToast('Access Forbidden: Your account lacks sufficient permissions');
                            setTimeout(() => location.assign(responseObject.responseJSON.url), 1200);
                        },
                    },
                });
            });
        });
