extends ../../master

block title
    - var childName = `${wishcard.childFirstName}'s Wish Card Page | DonateGifts`
    title= childName

block scripts
    script.
        $(document).ready(() => {
            const root = ReactRoot(document.querySelector('#app-root'));
            root.render(
                React.createElement(
                    WishCardSingle,{
                        user: !{JSON.stringify(user || {})},
                    }
                )
            );
        });
