<!--
* Author: Stacy Sealky Lee
* FileName: agency.ejs
* Description: agency registration page
* TODO: 
Make the background of form green to yellow
agencyName: {
		type: String,
		required: true
	},
	agencyWebsite: {
		type: String
	},
	agencyPhone: {
        type: Number,
        required: true
    },
    accountManager: {
		type: Schema.Types.ObjectId,
		ref: 'User'
    },
    agencyBio: {
		type: String
    },
    agencyAddress: {
		type: String
    },
    childrenUnderCare: {
		type: Number
    },
    childrenAgeRange: {
		type: String
	},
	agencyProfileImage
in the future, make individual donor, enterprise donor, foster care partner
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Register as a Foster Care Partner</title>

  <%- include('./templates/header')-%>

  <link rel="stylesheet" href="../css/signup.css">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- js scripts -->
  <script src="../clientJS/agency.js"></script>
</head>

<body>
  <%- include('./templates/nav')-%>

  <div class="signup-bg">
    <div class="d-flex container justify-content-center mg-top-btm">

      <!-- agency sign up form | post to '/users/agency' -->
      <div class="wrap-box">
        <form class="signup-agency" action="/users/agency" method="post">
          <!-- form title -->
          <div class="sign-row lg title-text crayon-font mg-sm">
            Last Step: Register Your Organization
            <!-- <img class="img-inline" src="../img/line-gift-white.png" alt="line-art-gift-image"> -->
          </div>

          <!-- agencyName -->
          <div class="wrap-input mg-btm" data-validate="Required field, please fill it out.">
            <input class="input-default comf-font" type="text" name="agencyName" id="agencyName"
              placeholder="Organization Name (individual partners, write your agency): ">
          </div>
          <!-- agencyWebsite -->
          <div class="wrap-input mg-btm">
            <input class="input-default comf-font" type="text" name="agencyWebsite" id="agencyWebsite"
              placeholder="Organization Website (if any) : " title="This helps us verify your organization">
          </div>
          <!-- agencyPhone -->
          <div class="wrap-input mg-btm" data-validate="Phone number is required">
            <input class="input-default comf-font" type="text" name="agencyPhone" id="agencyPhone"
              placeholder="Organization Phone Number : " title="agencyPhone">
          </div>

          <!-- agencyBio -->
          <div class="wrap-input mg-btm">
            <input class="input-default comf-font" type="text" name="agencyBio" id="agencyBio"
              placeholder="Organization Description : " title="agencyBio">
          </div>

          <!-- submit button section -->
          <div class="container-form-btn">
            <button class="form-btn comf-font" type="submit">
              Submit
            </button>
          </div>

        </form>
      </div>

    </div>
  </div>

  <%- include('./templates/footer')-%>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
    integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous">
    </script>
</body>

</html>