<!DOCTYPE html>
<html lang="en">

<!-- TODO: before user can leave a message, check if user is signed in first, if not, redirect to log in -->

<head>
    <title>See Each Wish Card | Donate Gifts</title>
    <!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->
    <%- include('./templates/header')-%>
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/about.css">

</head>

<body>
    <%- include('./templates/nav')-%>

    <!-- Wish Card Form Section-->
    <div class="container-fluid">
        <div class="create-wish-card">
            <!-- wishCardForm starts here-->
            <form class="container-fluid" id="wishCardForm" action="/wishcards" method="POST"
                enctype="multipart/form-data">
                <h4 class="crayon-font wish-card-form-title">
                    Create a wish card <br />
                    for children under your care
                </h4>

                <div class="row">
                    <div class="col-lg-6 comf-font wrap-input1" data-validate="Name is required">
                        <label for="childFirstName">Child's First Name</label>
                        <input id="childFirstName" class="input1" type="text" name="childFirstName"
                            placeholder="Nick name is also ok">
                    </div>
    
                    <div class="col-lg-6 ml-auto comf-font wrap-input1">
                        <label for="childLastName">Child's Last Name</label>
                        <input id="childLastName" class="input1" type="text" name="childLastName"
                            placeholder="Initial is also ok">
                    </div>
                </div>
                


                <div class="mb-5">
                    <h5>Choose Child's Wish Item: </h5>
                    <p>Age Group: Babies & Toddlers</p>
                    <div class="row justify-content-center">
                        <div class="mx-1 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/baby_item1.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/baby_item2.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/baby_item3.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/baby_item4.png" alt="Card image cap">
                        </div>
                        <div class="mx-1 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/baby_item5.png" alt="Card image cap">
                        </div>
                    </div>

                    <p>Age Group: Preschoolers</p>
                    <div class="row justify-content-center">
                        <div class="mx-1 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/pre_item1.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/pre_item2.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/pre_item3.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/pre_item4.png" alt="Card image cap">
                        </div>
                        <div class="mx-1 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/pre_item5.png" alt="Card image cap">
                        </div>
                    </div>
                    

                    <p>Age Group: Kids 6-8</p>
                    <div class="row justify-content-center">
                        <div class="mx-1 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/kid6-8_item1.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/kid6-8_item2.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/kid6-8_item3.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/kid6-8_item4.png" alt="Card image cap">
                        </div>
                        <div class="mx-1 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/kid6-8_item5.png" alt="Card image cap">
                        </div>
                    </div>

                    <p>Age Group: Kids 9-11</p>
                    <div class="row justify-content-center">
                        <div class="mx-1 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/kid9-11_item1.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/kid9-11_item2.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/kid9-11_item3.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/kid9-11_item4.png" alt="Card image cap">
                        </div>
                        <div class="mx-1 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/kid9-11_item5.png" alt="Card image cap">
                        </div>
                    </div>
                   

                    <p>Age Group: Teens</p>
                    <div class="row justify-content-center">
                        <div class="mx-1 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/teens_item1.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/teens_item2.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/teens_item3.png" alt="Card image cap">
                        </div>
                        <div class="mx-2 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/teens_item4.png" alt="Card image cap">
                        </div>
                        <div class="mx-1 card col-sm-2 col-xs-6">
                            <img class="card-img-top" src="../img/teens_item5.png" alt="Card image cap">
                        </div>
                    </div>
                </div>


                <div class="row">
                    

                    <div class="col-lg-6 comf-font wrap-input1">
                        <label for="childBirthday">Child's Birthday</label>
                        <input id="childBirthday" class="input1" type="date" name="childBirthday"
                            placeholder="Child's Birthday">
                    </div>

                    <div class="col-lg-6 ml-auto comf-font wrap-input1">
                        <label for="childInterest">Child's Interest</label>
                        <input id="childInterest" class="input1" type="text" name="childInterest"
                            placeholder="Write something that the child likes to do">
                    </div>

                    

                    <div class="col-lg-6 comf-font wrap-input1" data-validate="Message is required">
                        <label for="chlidStory">Share their story</label>
                        <textarea id="chlidStory" class="input1" name="childStory"
                            placeholder="(e.g. why they want this gift, what their favorite subject is, or some info about the child)"></textarea>
                    </div>

                    <!-- Custom File Uploader  -->
                    <main class="col-lg-6 ml-auto">
                        <div class="box">
                            <div class="content">
                                <p>Photo is required; it can be of the wish item, relevant clip art, or child (if
                                    confidentiality is
                                    an issue, try using a photo of their hands making a heart, masked face,
                                    wearing sunglasses, etc.)</p>
                                <div class="uploader-left">
                                    <img id="preview" src="../img/img-placeholder.png" alt="image-placeholder">
                                </div>
                                <div class="uploader-right">
                                    <!-- <input type="text" class="img-path" placeholder="Select wish card image"> -->
                                    <span class="file-wrapper">
                                        <input type="file" name="wishCardImage" id="filetag"
                                            class="uploader upload-btn btn-large btn-alpha">
                                        <!-- <span class="upload-btn btn-large btn-alpha">Upload Image</span> -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>

                <div class="col-lg-6 comf-font wrap-input1">
                    <label for="address">Shipping address</label>
                    <input id="childInterest" class="input1" type="text" name="childInterest"
                        placeholder="street name">
                </div>


                <div id="submit-btn" class="comf-font">
                    <div class="contact1-form-btn">
                        <input value="Submit" type="submit" class="contact1-form-btn">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <%- include('./templates/footer')-%>
    <!-- CDN Bootstrap.js, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous">
    </script>
</body>

</html>