<div class="row justify-content-center choicesContainer">
    <% if (imageChoices) { %>
    <% for (let i = 0; i < imageChoices.length; i++) { %>
    <label>
        <input type="radio" name="imageChoice" value="<%= imageChoices[i] %>">
        <img class="card-img-top imageChoice card" src="<%= imageChoices[i] %>" alt="Card image cap">
    </label>
    <% } %>
    <%}%>
</div>