doctype html
html( lang="en" )
    head
        block head
            block title

            block meta

            include head.pug

            block external

        //- append or overwrite this block to include our custom css
        block styles

    body
        block navigation
            include partials/navbar.pug

        block toast
            include mixins/toast.pug
            +toast

        #admin-root

        block main
            main

                block content
                //- react pages will be mounted here (see views/pages/wishcard/agencycards.pug)
                //- single components should be mounted in their respective pages
                #app-root

        block modal

        block footer
            footer
                include partials/footer.pug

        include partials/scripts.pug

        block scripts