doctype html
html( lang="en" )
    head
        block head
            block title

            block meta

            include head.pug

        //- append or overwrite this block to include our custom css
        block styles

    body
        header
            block header
                include partials/header.pug

        main
            block content

        footer
            block footer
                include partials/footer.pug

        include partials/js.pug
        block scripts