doctype html
html( lang="en" )
    head
        block head
            block title

            block meta

            include head.pug

            block external

        //- append or overwrite this block to include our custom css
        block styles

    body
        header
            block header
                //- include partials/header.pug
            #header-root

        main
            block content
            //- react components will be mounted here
            #app-root

        block modal

        footer
            block footer
                include partials/footer.pug

        include partials/js.pug
        block scripts
        append script
            script.
                $(document).ready(function () {
                    const root = ReactRoot(document.querySelector('#header-root'));
                    root.render(
                        React.createElement(
                            Nav,
                            {
                                user: !{JSON.stringify(user || null)},
                                agency: !{JSON.stringify(agency || null)}
                            }
                        )
                    );
                })