/* FFD15A -yellow
rgba(255,151,99, 1)
(255,209,90) - yellow
green 8BC64D
rgba(139,198,77,1) -green
*/

#section-text {
  font-size: 1em;
}

.icon-box a{
  outline: none;
  list-style: none;
}

.icon-box a:hover, .icon-box a:active {
  text-decoration: none;
}

.icon-box i {
  color: #262626;
}

.custom-wrapper {
    /* background: linear-gradient(180deg, rgba(139,198,77,0.08), rgba(139,198,77,0.7)); */
		background: rgba(139,198,77,0.1);
}
/* ---------------section with row col */

.custom-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  /* margin-top: 8vh; */
}

.custom-col {
  display: flex;
  flex-flow: column wrap;
  flex-basis: auto;
  flex: 1;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.custom-col h4 {
  color: #808080;
}

.custom-left {
  order: 2;
  width: 50%;
}

.custom-right {
  order: 1;
  width: 50%;
}

.custom-wrapper img {
  border-radius: 10px;
	width: 400px;
}

.grn-box {
  box-shadow: 20px 20px rgba(139,198,77,1);
}

.yel-box {
  box-shadow: 20px 20px rgba(255, 209, 90,1);
}

.subtext {
  font-weight: 300;
  font-size: 1em;
  line-height: 2.1em;
  max-width: 80%;
  display: flex;
}

#grn-font {
	color: #8bc64d;
}

.org-bg {
	background: #FFD15A;
}

/* ---------------responsive screen */
@media screen and (max-width: 1024px) {
  .custom-left {
    order: 2;
    width: 100vw !important;
    margin-right: 20%;
    margin-left: 20%;
  }

  .custom-right {
    order: 1;
    width: 100vw !important;
  }

  .subtext {
    font-size: 1.3em;
    line-height: 1.4em;
    min-width: 100%;
  }
}



@font-face {
	font-family: 'DK-Crayon-Crumble';
	src: url('../fonts/DK-Crayon-Crumble.ttf');
	src:
		local('DK Crayon Crumble'),
		local('DK-Crayon-Crumble'),
		url('../fonts/DK-Crayon-Crumble.ttf')
		format('truetype');
}

.comf-font {
	font-family: 'Comfortaa', cursive;
}

.rale-font {
	font-family: 'Raleway', sans-serif;
}

.crayon-font {
  font-family: 'DK-Crayon-Crumble', 'Montserrat', sans-serif;
}

.font-md {
	font-size: 1.45em;
}

.font-lg {
	font-size: 2.5em;
}


.yellow {
	color: rgba(255,224,172,1);
}

body {
    color: #262626;
    font-size: 16px;
    line-height: 1.8;
		margin: auto 0;
}

img {
    vertical-align: baseline;
}


/* ---------------header */
#home-bg {
  background: linear-gradient(180deg, rgba(255,151,99, 0.8), rgba(188,227,97, 0.8),  rgba(255,209,90,0.05)), url('../img/gift-holding-1.jpg') center center;
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#about-bg {
  background: linear-gradient(180deg, rgba(255,151,99, 0.8), rgba(188,227,97, 0.3),  rgba(255,209,90,0.05)), url('../img/kid-yellow-bg.jpg') center center;
  min-height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
.bg {

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-h1 {
  font-size: 4.1em;
  font-weight: bolder;
	text-transform: uppercase;
}

.text {
  text-align: center;
  color: #fff;
}

.text h4 {
	font-weight: 700;
	font-size: 1.3em;
}

.text button {
	margin-top: 1.4em;
}

@media screen and (max-width: 992px){
	.hide {
	  display: none;
	}
}


/*
# Button
----------------------------------*/
.btn {
    padding: 18px 40px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #262626;
    outline: none;
}

.button-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

.wishcard-btn {
    padding: 17px 32px;
    margin: 10px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 1;
    outline: none;
}

#btn1 {
	font-size: 1.2em;
	font-weight: 700;
}

.grn-btn {
	background-color: #8BC64D;
	color: #fff;
	border: none;
}

.grn-btn:hover {
	background-color: #fff;
	color: #8BC64D;
	cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn-grn-border {
    border-color: #8BC64D;
}

.btn-grn-bg {
  border: none;
  background: #8BC64D;
  color: #fff;
}



/*
# Tabs
----------------------------------*/
ul.tabs-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.tabs-nav .tab-nav {
    padding: 12px 32px;
    margin-right: 6px;
    border-radius: 30px;
    background: #f3f3f3;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    cursor: pointer;
    transition: all .35s;
}

ul.tabs-nav .tab-nav.active {
    border: 0;
    background: linear-gradient(270deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%);
    color: #fff;
}

.tabs .tab-nav {
    margin-bottom: -1px;
    z-index: 99;
}

.tabs-container {
    padding: 34px;
}

.tab-content {
    display: none;
}

.tab-content p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 2;
    color: #929191;
}


/*
# Icon Box
----------------------------------*/
.icon-box {
    padding: 40px;
    border-radius: 24px;
    text-align: center;
    transition: all .35s;
}

.grn-bg {
	background: #8BC64D;
}

.pale-grn-bg {
	background: #BCE361;
}

.yellow-bg {
	background: #FFFA71;
}

.icon-box:hover,
.icon-box.active {
    border: none;
    background: #2F7336;  /* fallback for old browsers */
		color: #fff;
}
/*fix the gradients if necessary!! -------------------*/

.icon-box .entry-title {
    margin-top: 0.5em;
    font-size: 2em;
    font-weight: 600;
    color: #262626;
}

.icon-box:hover .entry-title,
.icon-box.active .entry-title {
    color: #fff;
}

.icon-box p{
    margin-top: 20px;
    color: #595858;
}

.icon-box:hover p,
.icon-box.active p {
    color: #fff;
}


.sidepad {
    padding: 7em 1em 6em 1em;
}

/*
# Welcome
--------------------------------*/
.welcome-content .entry-title {
    position: relative;
    padding-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.fa-smile-o, .fa-users {
	font-size: 2.2em;
}

.fa-gift {
	font-size: 2.5em;
}


.welcome-content .entry-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background: #ff5a00;
}

.welcome-content .entry-content {
    font-size: 14px;
    line-height: 2;
    color: #b7b7b7;
}

.home-page-welcome img {
    display: block;
    width: 100%;
		border-radius: 15px;
}

@media screen and (max-width: 992px){
    .home-page-welcome img {
        margin-bottom: 60px;
    }
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
@media screen and (max-width: 992px){
    .sidebar {
        margin-top: 96px;
    }
}

.sidebar h2 {
    font-size: 18px;
    font-weight: 600;
}


/*--------------------------------------------------------------
# wishcards section - landing page
--------------------------------------------------------------*/
.wishcards {
  position: relative;
  padding: 80px 0;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-bar {
    padding: 23px 0;
    font-size: 1em;
    color: #fff;
    text-align: center;
		background: #FFD15A;
}
