#howTo {
  background-color: #fff6ed;
}

#header-bg {
  background-color: rgba(255, 187, 89, 0.7) !important;
}

.howTo {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  display: inline-block;
  margin: 2rem 0;
  padding: 8px 50px 8px 50px;
  background: url(../img/select.png) no-repeat 95% center;
  background-color: #333a64;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #fff;
  width: 280px;
}

.howTo:focus,
.howTo:active {
  outline: none;
}

#partner {
  background: #fff;
}

#user-log-btn {
  color: rgba(255, 255, 255, 1) !important;
  background-color: rgba(51, 58, 100, 1);
  border-radius: 15px;
  border-color: transparent;
  padding: 0.3em 0.8em;
  margin-bottom: 10px;
  display: inline-flex;
}