@font-face {
    font-family: 'DK-Crayon-Crumble';
    src: url('../../assets/fonts/DK-Crayon-Crumble.ttf');
    src:
        local('DK Crayon Crumble'),
        url('../../assets/fonts/DK-Crayon-Crumble.ttf') format('truetype');
}

#cray-font {
    font-family: 'DK-Crayon-Crumble', 'Montserrat', sans-serif;
}

#profile-bg {
    /* background: linear-gradient(180deg, rgba(255, 151, 99, 1), rgba(188, 227, 97, 0.9), rgba(255, 209, 90, 1)); */
    min-height: 20vh;
    margin-top: 1em;
    /* background-size: cover; */
    /* border-top: 3px solid #8bc64d; */
}

.profile-title {
    color: #8bc64d;
}

.profile-title h1 {
    font-size: 4.3em;
    font-weight: 500;
    text-transform: capitalize;
}

.mg2 {
    margin: 2em;
}

.create-wish-card {
    width: 100%;
    min-height: 100%;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 3px dotted rgba(188,227,97, 0.6);
}

.side-pad-sm {
    padding-left: 0.7em;
}

.wish-card-form-title {
    display: block;
    font-size: 2.7em;
    color: #8bc64d;
    line-height: 1.2;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.side-pad {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.side-pad-2 {
    padding-left: 1em;
    padding-right: 1em;
}

/* --------- img uploader ---------------- */
.box {
    border: 1px solid #ddd;
    display: block;
    width: 100%;
    /* max-width: 30em; */
    margin: 0.5em 0 2em 0em;
    border-radius: 15px;
}

.box .content {
    padding: 1em;
}

.content p {
    font-size: 0.9em;
}

.upload-btn {
    color: #fff;
    background-color: #aaa;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    /* margin: 0.6em 0.6em .6em 0; */
    padding: 0.35em .7em 0.4em;
    text-decoration: none;
    width: auto;
    position: relative;
    border-radius: 8px;
    user-select: none;
    outline: none;
}

.box form {
    display: table;
}

.box input {
    width: 96%;
    color: #999;
}

.uploader-left,
.uploader-right {
    display: table-cell;
    vertical-align: middle;
}

.uploader-left {
    width: 6em;
    min-width: 6em;
    padding-right: 1em;
}

.uploader-left img {
    width: 100%;
}

.img-holder {
    display: block;
    width: 2em;
    height: 2em;
}

.file-wrapper {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.file-wrapper:hover .upload-btn {
    background-color: #8bc64d !important;
}

.file-wrapper input {
    cursor: pointer;
    height: 100%;
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}

/* ---- Profile Content Section---- */

#profile-row {
    margin-top: 2em;
}

/* .profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
} */

.header {
    padding: 10px 0;
    /* background: rgba(139,198,77,0.2); */
    background: linear-gradient(180deg, rgba(188,227,97, 0.3),  rgba(255,209,90,0.02));
    border-top: 3px solid rgba(188,227,97, 0.6);
    /* border-bottom: 3px solid #8bc64d; */
}

.button-email {
    margin: 10px 0;
}

.fa-circle {
    color: #8bc64d;
}

.list-group {
    list-style: disc inside;

}

.list-group-item {
    display: list-item;
}

.find-more {
    text-align: right;
}


.label-theme {
    background: #8bc64d;
    font-size: 14px;
    padding: .3em .7em .3em;
    color: #fff;
    border-radius: .25em;
}

.label a {
    color: inherit;
}