extends ../master

block title
    title Who we are | Volunteers at Donate Gifts

block content
    .team.container.mb-5
        h1 Meet Our Pets
        h5.mb-5 Say hello to our adorable pets!
        .row.mb-3
            .col-lg-4.col-md-12.mb-4.mb-lg-0
                img.w-100.shadow-1-strong.rounded.mb-4( src='/public/img/team/marco-cat-min.jpg' alt='marco cat' loading='lazy' )
                img.w-100.shadow-1-strong.rounded.mb-4( src='/public/img/team/patric-dog-min.jpg' alt='patric-dog' loading='lazy' )
            .col-lg-4.mb-4.mb-lg-0
                img.w-100.shadow-1-strong.rounded.mb-4( src='/public/img/team/stacy-dog-min.jpeg' alt='stacy-dog' loading='lazy' )
                img.w-100.shadow-1-strong.rounded.mb-4( src='/public/img/team/markell-hedgehog-min.jpg' alt='markell-hedgehog' loading='lazy' )
            .col-lg-4.mb-4.mb-lg-0
                img.w-100.shadow-1-strong.rounded.mb-4( src='/public/img/team/stacy-chicago-dog.png' alt='stacy-dog-2' loading='lazy' )
                img.w-100.shadow-1-strong.rounded.mb-4( src='/public/img/team/tokikko-cat-min.jpg' alt='tokikko-cat' loading='lazy' )
        h1 The Volunteers
        h5.mb-5
            | Our kind volunteers work tirelessly to create positive
            | changes
        .row
            .col-lg-4.col-md-12.mb-4.mb-lg-0
                .team-card
                    h4.my-3 Stacy Sealky Lee
                    p
                        strong Founder | Software Developer
                    p
                        strong Q:
                        |
                        | Why are you working for this project?
                    p.px-2
                        strong A:
                        |
                        | I believe that we are all born with the ability to change someone's life, small or big.
                        | I want the kids know that there are people who love them and care about them. I wish this
                        | platform to be a loving community that supports
                        | the kids in some small ways.
                .team-card
                    h4.my-3 Ivan Repusic
                    p
                        strong Software Developer
                    p
                        strong Q:
                        |
                        |  Why are you working for this project?
                    p.px-2
                        strong A:
                        |
                        | I like to use my time to do something meaningful.
            .col-lg-4.mb-4.mb-lg-0
                .team-card
                    h4.my-3 Marco Schuster
                    p
                        strong Software Developer
                    p
                        strong Q:
                        |
                        | Why are you working for this project?
                    p.px-2
                        strong A:
                        |
                        | Helping out children who otherwise wouldn't receive anything
                        | during holidays season is just amazing in itself.
                .team-card
                    h4.my-3 Jacob John Jeevan
                    p
                        strong Software Developer
                    p
                        strong Q:
                        |
                        |  Why are you working for this project?
                    p.px-2
                        strong A:
                        |
                        | I was looking for open source projects to contribute to
                        | (mostly to improve my own portfolio). This was the perfect opportunity to grow and learn,
                        | while contributing to a meaningful cause.
            .col-lg-4.mb-4.mb-lg-0
                .team-card
                    h4.my-3 Patric Hoffmann
                    p
                        strong Software Developer
                    p
                        strong Q:
                        |
                        |  Why are you working for this project?
                    p.px-2
                        strong A:
                        |
                        | The mission of helping children in need is very personally important to me.
