<!-- footer using bootstrap css-->
<div class="footer-bar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="m-0">Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> DonateGifts | Stacy Sealky Lee - All
                    rights reserved</p>
            </div>
        </div>
    </div>
</div>