<!-- footer using bootstrap css-->
<div class="footer-bar quick-font">
    <div class="container">
        <div class="row justify-content-center pt-2">
            <p class="p-1">
                <a class="px-2" href="https://www.instagram.com/donategifts/">Social Media</a>
                | <span class="yellow px-2"><i class="fa fa-heart" aria-hidden="true"></i>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=LA5DA2K2C8HLW"
                        title="support our organization by paypal donation" target="_blank"> Support Our Cause </a><i class="fa fa-heart" aria-hidden="true"></i></span>
                | <a class="px-2" href="/users/terms">Terms of Service</a>
            </p>
        </div>

        <div class="row justify-content-center">
            <p class="px-2">Donate Gifts Inc.</p>
            <p>Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> All
                rights reserved</p>
        </div>


    </div>

</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/clientJS/simpleToast.js"></script>