<!-- footer using bootstrap css-->
<div class="footer-bar">
    <div class="container">
        <div class="row justify-content-center pt-2">
            <div class="col-12 mb-2">
                <a href="https://www.instagram.com/donategifts/">Social Media</a> |
                <span id="blk">
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=LA5DA2K2C8HLW"
                        title="support our organization by paypal donation" target="_blank">Support Our Cause</a></span>
                | <a href="/users/terms">Terms of Service</a>
            </div>
            <!-- <div class="col-12">
                <a href="/users/terms">Terms of Service</a>
            </div> -->
        </div>
        <div class="row">
            <div class="col">
                <p>Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> DonateGifts All
                    rights reserved</p>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="../clientJS/simpleToast.js"></script>