<!-- more info section-->
<div class="container sidepad">
    <div class="row">
        <div class="col-12 col-lg-4 mt-4 mt-lg-0">
            <!-- Become a donor section-->
            <div class="icon-box org-bg">
                <a href="/users/signup">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                    <h3 class="entry-title crayon-font">Become a gift donor</h3>
                    <p class="chivo-font" id="section-text">
                        Become a secret santa
                        for a foster kid who may otherwise not get anything
                        on their birthday/ holiday. <br />
                        Join our meaningful movement.<br />
                        Together, we can make the kids smile!
                    </p>
                </a>
            </div>
        </div>

        <!-- Learn mission section-->
        <div class="col-12 col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box yel-bg-2">
                <a href="/about">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                    <h3 class="entry-title crayon-font">Learn our mission</h3>
                    <p class="chivo-font" id="section-text">
                        What is the purpose of the DonateGifts project? <br />
                        What are the problems we aim to solve? <br />
                        Who created this project and what are their commitments?
                    </p>
                </a>
            </div>
        </div>

        <!-- Partner with us section-->
        <div class="col-12 col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box yel-bg-3">
                <a href="/users/signup">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h3 class="entry-title crayon-font">Partner with us</h3>
                    <p class="chivo-font" id="section-text">Register your foster organization, non-profit adoption
                        agency, or care home. After you get verified, we are here to help
                        you with creating wish cards on behalf of the children under your care.</p>
                </a>
            </div>
        </div>
    </div>
</div>