<!-- navigation bar using bootstrap-->
<div class="nav-bar">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                <div class="site-branding d-flex align-items-center">
                    <a class="d-block" href="/" rel="home"><img class="d-block" id="logo-img"
                            src="../img/donate-gift-logo.png" alt="logo"></a>
                </div>
                <nav class="site-navigation d-flex justify-content-end align-items-center">
                    <ul class="comf-font d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                        <li class="current-menu-item"><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="https://www.youtube.com/watch?v=RmvqvS7SIMU" target="_blank">How To</a></li>
                        <li><a href="/wishcards">Wish Cards</a></li>
                        <% if (!user) { %>
                        <li><a href="/users/signup">Sign Up</a></li>
                        <% } else { %>
                        <li><a href="/users/profile">My Profile</a></li>
                        <li><a href="/users/logout">Log Out</a></li>
                        <% } %>
                    </ul>
                </nav>
                <!-- .hamburger-menu for mobile-->
                <div class="hamburger-menu d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>