<!-- dogs are the best muhahahah -->
<div class="preloader">
    <div class="container">
      <h1 class="quick-font loading">Loading...</h1>
      <div class="wrap">
        <div class="ball-animation">
          <div class="ball-decoration"></div>
        </div>
      </div>
      
      <div class="dog">
          <div class="dogbody"></div>
          <div class="leg1"></div>
          <div class="leg2"></div>
          <div class="leg3"></div>
          <div class="leg4"></div>
          <div class="tail"></div>
          <div class="ear"></div>
          <div class="nose"></div>
          <div class="eye"></div>
          <div class="tongue"></div>
      </div>
    </div>
  </div>