<!-- Modal -->
<div class="modal fade" id="signupModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-start">
                <i class="pl-1 pr-4 fa fa-handshake-o" aria-hidden="true"></i>
                <h1 class="mt-1 modalTitle source-font">
                    Signing up as a Foster Care Partner?</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body source-font">
                <div class="container-fluid">
                    <h5>Before we proceed, let’s go over a few important things.</h5>
                    <h5>Verification process is fast and easy!</h5>

                    <div class="row text-secondary pt-4">
                        <div class="col">
                            <p><i class="pr-2 fa fa-ban" aria-hidden="true"></i><span class="text-danger">No minor or
                                    non-certified caregiver </span>can
                                register as a foster care partner to create wish
                                cards on their own, in order to prevent any potential misuse of our site.</p>
                        </div>
                        <div class="col">
                            <p><i class="pr-2 fa fa-envelope-o" aria-hidden="true"></i>If you are a foster care parent
                                or an
                                agency staff, <span class="text-danger">please use your work email </span>to sign up.
                                We will send a verification link to your work email (email address that is associated
                                with
                                your organization).</p>
                        </div>
                    </div>

                    <div class="row text-secondary">
                        <div class="col">
                            <p><i class="pr-1 fa fa-check-square-o" aria-hidden="true"></i>
                                Once you are verified as a foster care partner, you can manage the account and create
                                wish cards for the children under your care. You may not have immediate permission to
                                create
                                the wish cards until your account is reviewed and verified.</p>
                        </div>
                        <div class="col">
                            <p><i class="pr-2 fa fa-exclamation-triangle" aria-hidden="true"></i>Currently, DonateGifts
                                only accepts partnership with non-profit foster care organizations,
                                licensed adoption/ family care agencies, and state-certified domestic foster homes.
                                Please contact us if you have any questions.</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">See Wish Cards</button> -->
            </div>
        </div>
    </div>
</div>