/* 
-----------------------------
file: utils.css
desc: this file has all reusable utilities for css
----------------------------- 
New Color Scheme Reference:
primary red:
    #ff5c6f
    rgba(255, 92, 111, 1)
primary orange:
    #ff826b
    rgba(255, 130, 107, 1)
light cream:
    #fff6ed
    rgba(255, 246, 237, 1)
cream:
    #f8e4c9
    rgba(248, 228, 201, 1)
primary green:
    #00a19a
    rgba(0, 161, 154, 1)
primary yellow:
    #ffbb59
    rgba(255, 187, 89, 1)
secondary yellow:
    #f9a14c
    rgba(249, 161, 76, 1)
primary navy:
    #333a64
    rgba(51, 58, 100, 1)
secondary navy:
    #414254
    rgba(65, 66, 84, 1)
dark grey:
    #313131
    rgba(49, 49, 49, 1)
----------------------------- 
*/

/* commonly used utils
  ----------------------------------------
  */
body {
  margin: auto 0;
  overflow-x: hidden;
}

a {
  color: inherit !important;
}

img {
  vertical-align: baseline;
}

button:focus {
  outline: 0;
}

h-100 {
  height: 100% !important;
}

.grn-box {
  box-shadow: 20px 20px rgba(0, 161, 154, 1);
}

.yel-box {
  box-shadow: 20px 20px rgba(255, 187, 89, 1);
}

.err-banner {
  height: 90vh;
  background-color: rgba(248, 228, 201, 0.4);
}

.err-banner img {
  max-height: 300px;
  justify-content: center;
  align-items: center;
}

/* Hamburger Menu
  ----------------------------------------
  */
.hamburger-menu {
  position: relative;
  width: 24px;
  height: 22px;
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #262626;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
  top: 2px;
}

.hamburger-menu span:nth-child(2),
.hamburger-menu span:nth-child(3) {
  top: 10px;
}

.hamburger-menu span:nth-child(4) {
  top: 18px;
}

.hamburger-menu.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

.hamburger-menu.open span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger-menu.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.bdr-2 {
  border-radius: 20px !important;
}
