body {
  margin: auto 0;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif !important;
}

a {
  color: inherit !important;
}

img {
  vertical-align: baseline;
}

button:focus {
  outline: 0;
}

h-100 {
  height: 100% !important;
}

.grn-box {
  box-shadow: 20px 20px rgba(0, 161, 154, 1);
}

.yel-box {
  box-shadow: 20px 20px rgba(255, 187, 89, 1);
}

.err-banner {
  height: 90vh;
  background-color: rgba(248, 228, 201, 0.4);
}

.err-banner img {
  max-height: 300px;
  justify-content: center;
  align-items: center;
}

.font-300 {
  font-weight: 300;
}

.no-decoration {
  text-decoration: none;
}

.lg-text {
  font-size: 1.2em;
  font-weight: 700;
}
/* Hamburger Menu
  ----------------------------------------
  */
.hamburger-menu {
  position: relative;
  width: 24px;
  height: 22px;
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #262626;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

.bdr-2 {
  border-radius: 20px !important;
}
