extends ../../../master

block title
    title Admin | Donate Gifts

block navigation

block main

block footer

append scripts
    script.
        const root = ReactRoot(document.querySelector('#admin-root'));
        root.render(
            React.createElement(
                AdminAgencyOverview
            )
        );