mixin agencyFetchingJS()
    script.
        $(document).ready(function () {
            const fetchAgencyData = function () {
                const toast = new DG.Toast();

                $.ajax({
                    type: 'GET',
                    url: '/api/agency',
                    success: (response) => {
                        const agency = response.data;

                        if (agency.agencyAddress) {
                            $('#address1').val(agency.agencyAddress.address1);
                            $('#address2').val(agency.agencyAddress.address2);
                            $('#address_zip').val(agency.agencyAddress.zipcode);
                            $('#address_city').val(agency.agencyAddress.city);
                            $('#address_country').val(agency.agencyAddress.country);
                            $('#address_state').val(agency.agencyAddress.state);
                        } else {
                            toast.show('Agency address not present. Most likely that information is missing, contact the administrator.', true);
                        }
                    },
                    error: (response) => {
                        toast.show('Could not get agency address.', true);
                    }
                });
            }

            $('#agencyAddressCheckBox').click(function () {
                if ($(this).is(':checked')) {
                    var fields = [
                        $('#address1').val().length,
                        $('#address2').val().length,
                        $('#address_zip').val().length,
                        $('#address_city').val().length,
                        $('#address_country').val().length,
                        $('#address_state').val().length
                    ];
                    if (fields.includes(0)) {
                        fetchAgencyData();
                    } else {
                        const confirmation = confirm('Do you want to overwrite the address with agency address?');
                        if (confirmation === true) {
                            fetchAgencyData();
                        }
                    }
                }
            });
        });