if locals.env.google
    script( src='https://accounts.google.com/gsi/client' async )

//- if locals.env.facebook
//-     script( async defer crossorigin='anonymous' src='https://connect.facebook.net/en_US/sdk.js' )
//-     script.
//-         window.fbAsyncInit = function () {
//-             FB.init({
//-                 appId: '#{locals.env.facebook}',
//-                 xfbml: true,
//-                 version: 'v17.0',
//-             });
//-             FB.AppEvents.logPageView();
//-         };