if locals.env.google
    script( src="https://apis.google.com/js/platform.js" async defer )
    meta( name="google-signin-client_id" content=locals.env.google )

if locals.env.facebook
    script( async defer src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0' nonce='XBZR4Yw2' crossorigin='anonymous' )
    script.
        window.fbAsyncInit = function () {
            FB.init({
                appId: '#{locals.env.facebook}',
                cookie: true,
                xfbml: true,
                version: 'v8.0',
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js';
            fjs.parentNode.insertBefore(js, fjs);
        })(document, 'script', 'facebook-jssdk');