extends ../master

block title
    title Error | 401 NOT AUTHORIZED

block error
    .container
        .center-elements
            .col-12.col-md-10.col-lg-6
                img.img-fluid( src='/img/401-illustration.png' alt='401-illustration.png' )
        .text-center
            .my-4
                | Sorry, looks like you don't have privileges to acces this site.
                br
                | Should we checkout some wishcards instead?
            a.btn.btn-lg.btn-secondary( href='/wishcards' ) Browse Wish Cards
