extends wrapper

block title
    title Error | 403 Unauthorized Operation

block error
    .container
        .center-elements
            .col-12.col-md-10.col-lg-6
                img.img-fluid( src='/img/403-illustration.png' alt='403-illustration.png' )
        .text-center
            .my-4
                | Sorry, looks like you don't have permission to view this page.
                br
                | Should we checkout some wishcards instead?
            a.btn.btn-lg.btn-secondary( href='/wishcards' ) Browse Wish Cards
