extends wrapper

block title
    title Error | 404 PAGE NOT FOUND

block error
    .container
        .center-elements
            .col-12.col-md-10.col-lg-6
                img.img-fluid( src='/img/404-illustration.png' alt='404-illustration.png' )
        .text-center
            .my-4
                | The page you are looking for does not exist.
                br
                | Should we checkout some wishcards instead?
            a.btn.btn-lg.btn-secondary( href='/wishcards' ) Browse Wish Cards
