<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title rale-font grn-font bold-text" id="exampleModalLongTitle">
          Our Super Easy & Transparent Donation Process
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body rale-font">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <img class="how-to-img" src="../../public/img/step1.png" alt="how-to-step-img" />
              <p class="bold-text">Step 1. Browse wish cards & Find one you like</p>
            </div>
            <div class="col-md-6 ml-auto">
              <img
                class="how-to-img"
                src="../../public/img/step2-yellow.png"
                alt="how-to-step-img"
              />
              <p class="bold-text">Step 2. Click 'Donate Gift' button on the wish card</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <img class="how-to-img" src="../../public/img/step3.png" alt="how-to-step-img" />
              <p class="bold-text">
                Step 3. Once it automatically opens an Amazon page, Click 'Continue' to add the
                child's wish item to your Amazon cart
              </p>
            </div>
            <div class="col-md-6 ml-auto">
              <img
                class="how-to-img"
                src="../../public/img/step4-yellow.png"
                alt="how-to-step-img"
              />
              <p class="bold-text">Step 4. Proceed to checkout on Amazon</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <img class="how-to-img" src="../../public/img/step5.png" alt="how-to-step-img" />
              <p class="bold-text">
                Step 5. ***IMPORTANT*** Under 'Other Addresses", Make sure to select the registered
                address of the foster child
              </p>
            </div>
            <div class="col-md-6 ml-auto">
              <img
                class="how-to-img"
                src="../../public/img/step6-yellow.png"
                alt="how-to-step-img"
              />
              <p class="bold-text">
                Step 6. ***IMPORTANT*** Before you check out, double check that shipping address is
                set to the gift recipient's address. Place your order. Now, your gift is on its way!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">See Wish Cards</button> -->
      </div>
    </div>
  </div>
</div>
