<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error | 401 NOT AUTHORIZED</title>
    <%- include('./templates/header')-%>
  </head>

  <body>
    <%- include('./templates/nav')-%>
    <div class="err-banner p-1">
      <div class="d-flex p-2 mb-2 flex-column container align-items-center">
        <div class="row p-1 m-1">
          <img
            class="img-fluid pt-5"
            src="/public/img/404-illustration.png"
            alt="404-illustration.png"
          />
        </div>
        <div class="row mt-5">
          <p class="quick-font font-md">Sorry, looks like you do not have privileges to access this site.</p>
        </div>
        <div class="row">
          <p class="quick-font font-md">Should we check out some wish cards instead?</p>
        </div>

        <div class="container-form-btn">
          <a href="/wishcards">
            <button type="button" class="px-5 py-4 quick-font wishcard-btn grn-btn">
              Browse Wish Cards
            </button>
          </a>
        </div>
      </div>
    </div>

    <%- include('./templates/footer.ejs') %>
  </body>
</html>
