<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ERROR | 500</title>
    <%- include('./templates/header')-%>
  </head>
  <body>
    <%- include('./templates/nav')-%>
    <div class="err-banner p-1">
      <div class="d-flex p-2 mb-2 flex-column container align-items-center">
        <div class="row p-1 m-1">
          <img
            class="img-fluid pt-5"
            src="/public/img/500-internal-server-error.png"
            alt="500-internal-server-error.png"
          />
        </div>

        <div class="row">
          <p class="quick-font font-md">
            Should we check out some wish cards in the meantime until our developers fixed this?
          </p>
        </div>

        <div class="container-form-btn">
          <a href="/wishcards">
            <button type="button" class="px-5 py-4 quick-font wishcard-btn grn-btn">
              Browse Wish Cards
            </button>
          </a>
        </div>
      </div>
    </div>

    <%- include('./templates/footer.ejs') %>
  </body>
</html>
