<!DOCTYPE html>
<html lang="en">
<!-- TODO: before user can leave a message, check if user is signed in first, if not, redirect to log in -->

<head>
    <title>See Each Wish Card | Donate Gifts</title>
    <!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->
    <%- include('./templates/header')-%>
    <link rel="stylesheet" href="/public/css/checkout.css" />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <%- include('./templates/nav')-%>

    <div class="container">
        <div class="page-wrapper">

            <div class="page-title mt-5">
                <h2 class="text-center cool-font grn-font">Wish Donation Secure Checkout</h2>
                <p class="quick-font">[Child]'s gift will be delivered to our partner agency, [Foster Hope Foundation], after confirmed payment.</p>
            </div>

            <div class="receipt-info mt-5 quick-font">
                <p>From this donation, you receive</p>
                <ul>
                    <li>100% tax-deductible receipt & shipping details</li>
                    <li>Notification with a delivery proof</li>
                    <li>Message & photo from [Child] if partner agency permits</li>
                </ul>
                <div class="row">
                    <div class="col">
                        <img class="img-fluid rounded-lg" src="../public/img/card-sample-1.jpg" alt="">
                    </div>
                    <div class="col">
                        <img class="img-fluid rounded-lg" src="../public/img/onehopeunited.png" alt="">
                    </div>
                </div>
                
                <div>
                    <p>Wish item: Lego Set blah blah blah</p>
                    <p>Item Price: $15</p>
                    <p>Foster Care Partner: someNameVeryLoooooooooooooooooooooooongNAME (xxx)xxx-xxxx</p>
                </div>
                
            </div>

            <div class="stripe-section mt-5 quick-font">
                <h4 class="pb-4 grn-font">Sign</h4>
            </div>

            <!-- This part needs to show all users' messages sent to this wishcard
            wishcard model has 'messages' field which is an objectId array of 'Message'-->
            <div class="security-guarantee">
                <h1>hello</h1>
            </div>

        </div>
    </div>
    <%- include('./templates/footer')-%>

</body>

</html>