<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Donate Gifts Community</title>
    <%- include('./templates/header')-%>

    <link rel="stylesheet" href="/public/css/community.css" />
  </head>

  <body>
    <%- include('./templates/nav')-%>

    <div class="container">
        <h1>hello world</h1>
    </div>

    <%- include('./templates/footer')-%>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
      integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
