<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Donate Gifts Community</title>
    <%- include('./templates/header')-%>

    <link rel="stylesheet" href="/public/css/community.css" />
  </head>

  <body>
    <%- include('./templates/nav')-%>
<section class="community">

  <div class="container">
     <div class="row mb-4">
       <div class="col-12">
         <div class="card border-white rounded mt-5 mb-3">
           <div class="card-title quick-font border-bottom p-3">
             
             <h4>
               Post a message to your donors
             </h4>
            </div>
           <div class="card-body">
             <form action="">
                <div class="row">
                  <div class="col-12 d-flex justify-content-start align-items-center">
                    <img src="../public/img/casa-la-logo.png" alt="logo" class="rounded float-left agency-profile d-inline mr-4">
                    <textarea id="post-text" name="post-text" placeholder="Write a thank you message here"  class="form-control border border-white" rows="5" ></textarea>
                  </div>
                </div>
               <div class="row mt-4">
                 <div class="offset-md-6 col-md-6 d-flex align-items-center">
                   <div class="row">
                     <div class="col-sm-6 my-3 text-center">
                       <button type="submit"class="wishcard__button--yellow mr-md-3 rounded-pill d-inline-block">Upload Photo</button>
                     </div>
                     <div class="col-sm-6 my-3 text-center">
                       <button type="submit" class="wishcard__button--blue rounded-pill d-inline-block">Create Post</button>
                     </div>
                   </div>
                 </div>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>

     <div class="row pb-5">
          <div class="col-md-6">
            <div class="card my-2 p-4 border-white rounded">
              <div class="card-title">
                <div class="row">
                  <div class="col-12">
                    <img src="../public/img/casa-la-logo.png" alt="logo" class="rounded float-left mr-3 agency-profile">
                   <h4 class="quick-font">Echoes of hope</h4>
                    <span class="d-block">Posted on Dec 02, 2020</span>
                  </div>
                </div>
                <div class="card-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum recusandae totam dicta libero neque ut corporis, distinctio officia mpedit perspiciatis corporis.</p>
                  <img src="../public/img/central-texas-table-of-grace-logo.jpg" alt="logo" class="img-fluid ">
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="card my-2 p-4 border-white rounded">
              <div class="card-title">
                <div class="row">
                  <div class="col-12 ">
                    <img src="../public/img/casa-la-logo.png" alt="logo" class="rounded float-left mr-3 agency-profile">
                    <h4 class="quick-font">Echoes of hope</h4>
                    <span class="d-block">Posted on Dec 02, 2020</span>
                  </div>
                </div>
                <div class="card-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum recusandae totam dicta libero neque ut corporis, distinctio officia ab veritatis quod vel eum nesciunt. Atque dignissimos tenetur impedit perspiciatis corporis.</p>
                  <img src="../public/img/casa-la-logo.png" alt="logo" class="img-fluid">
                </div>               
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card my-2 p-4 border-white rounded">
              <div class="card-title">
                <div class="row">
                  <div class="col-12">
                    <img src="../public/img/casa-la-logo.png" alt="logo" class="rounded float-left mr-3 agency-profile">
                   <h4 class="quick-font">Echoes of hope</h4>
                    <span class="d-block">Posted on Dec 02, 2020</span>
                  </div>
                </div>
                <div class="card-body">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto cupiditate, repellendus vel, est sint similique nobis quo quaerat accusantium porro eveniet fuga consectetur distinctio aperiam saepe. Nihil non odit quam iusto exercitationem veniam aperiam consectetur placeat accusamus saepe. Nesciunt, magni.</p>
                  <img src="../public/img/blue-sky-agency-logo.png" alt="logo" class="img-fluid ">
                </div>
              </div>
            </div>
          </div>
     </div>
  </div>
</section>

    <%- include('./templates/footer')-%>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
      integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
