<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Donate Gifts</title>
    <!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->
    <%- include('./templates/header')-%>

    <link rel="stylesheet" href="/public/css/faq.css" />
  </head>

  <body>
    <%- include('./templates/nav')-%>

    <section id="faq">
      <div class="container mb-2 pb-5">
        <h2 class="cool-font mt-4 mb-5 blue-font text-center">Frequently Asked Questions</h2>
        <div class="row">
          <div class="col-12 text-left">
            <div class="accordion" id="accordionExample">
              <div class="card" id="accordion--card">
                <div class="card-header" id="accordion--heading">
                  <h2 class="mb-0">
                    <button
                      class="accordion--button"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      Is my organization required to make a wish card for each and every child or is there a way I can
                      do one big wish card with all of the children that we manage?
                    </button>
                  </h2>
                </div>

                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="accordionHeading"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>Unfortunately, we don't support the bulk creation feature yet.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="accordion--card">
                <div class="card-header" id="accordion--heading">
                  <h2 class="mb-0">
                    <button
                      class="accordion--button collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      Are you charging any fees for the agency partners?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="accordion--heading"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>No, we do not charge anything.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="accordion--card">
                <div class="card-header" id="accordion--heading">
                  <h2 class="mb-0">
                    <button
                      class="accordion--button collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      How do I get started? Our agency is interested in becoming a partner.
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="accordion--heading"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      The first step that's required of you is to register your agency on our website:
                      https://donate-gifts.com
                    </p>
                    <p>
                      It will ask you to sign up as a foster care partner and there's a simple form with just 4 fields
                      that need to be filled out for verification.
                    </p>
                    <p>
                      Once that's done, we will review and verify your agency account & you can start listing the kids'
                      wishes right on our site.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card" id="accordion--card">
                <div class="card-header" id="accordion--heading">
                  <h2 class="mb-0">
                    <button
                      class="accordion--button collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseFour"
                    >
                      Is there a recommended price range for the wish items?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseFour"
                  class="collapse"
                  aria-labelledby="accordion--heading"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      We limit wish items to be under $30 each to ensure that all kids get a chance to get their gifts
                      donated.
                    </p>
                  </div>
                </div>
              </div>
              
              <div class="card" id="accordion--card">
                <div class="card-header" id="accordion--heading">
                  <h2 class="mb-0">
                    <button
                      class="accordion--button collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseFive"
                      aria-expanded="false"
                      aria-controls="collapseFive"
                    >
                      Why is the child's photo required?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseFive"
                  class="collapse"
                  aria-labelledby="accordion--heading"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      The primary goal of this project is to build personal connections between donors and foster kids, and not just a one-time donation.
                      Our donors are more encouraged to donate to the wish cards with children's photos. They find this personal connection very special.
                      If privacy/confidentiality is a concern, please crop the identifiable features or use photos of them making a heart with their hands, masked faces, their backside, or wearing sunglasses, etc. For alternatives, we suggest using a picture of their art (anything they made or anything that represents them) as well.
                      We have this policy to prevent fraudulent wish submission and to ensure that every kid's wish gets a chance for donation.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card" id="accordion--card">
                <div class="card-header" id="accordion--heading">
                  <h2 class="mb-0">
                    <button
                      class="accordion--button collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseSix"
                      aria-expanded="false"
                      aria-controls="collapseSix"
                    >
                      Do the names and DoB have to be real for each child?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseSix"
                  class="collapse"
                  aria-labelledby="accordion--heading"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      While we prefer real data, we understand the privacy concerns and you may use a nickname or alias. For the date of birth, 
                      if you are unsure or unable to share due to policies, please use your best knowledge. We only care about the birth year to 
                      calculate their age for eligibility, so you may make up the month and day if needed.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card" id="accordion--card">
                <div class="card-header" id="accordion--heading">
                  <h2 class="mb-0">
                    <button
                      class="accordion--button collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseSeven"
                      aria-expanded="false"
                      aria-controls="collapseSeven"
                    >
                      Should let the kids know that if we sign up, they might not receive a gift, correct?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseSeven"
                  class="collapse"
                  aria-labelledby="accordion--heading"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      There is a small chance that some of them might not receive the gift, but we are working very hard
                      to make sure all kids get their wish items by Christmas.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card" id="accordion--card">
                <div class="card-header" id="accordion--heading">
                  <h2 class="mb-0">
                    <button
                      class="accordion--button collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseEight"
                      aria-expanded="false"
                      aria-controls="collapseEight"
                    >
                      As a partner, do I put their requests in or do the foster students themselves?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseEight"
                  class="collapse"
                  aria-labelledby="accordion--heading"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      Choosing each wish item may be up to you, or you could gather information from your kids (i.e.
                      what item do they want for Christmas).
                    </p>
                    <p>We do offer a pre-selected list of gift items that you can click and choose from.</p>
                    <p>
                      However, only you or your agency staff members can post the wishcards on the kids' behalf due to
                      our security policies.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card" id="accordion--card">
                <div class="card-header" id="accordion--heading">
                  <h2 class="mb-0">
                    <button
                      class="accordion--button collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseNine"
                      aria-expanded="false"
                      aria-controls="collapseNine"
                    >
                      What is the age range of children you’ll accept on the website?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseNine"
                  class="collapse"
                  aria-labelledby="accordion--heading"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>We donate to any foster or homeless youth under 25 years old.</p>
                  </div>
                </div>
              </div>
              <div class="card" id="accordion--card">
                <div class="card-header" id="accordion--heading">
                  <h2 class="mb-0">
                    <button
                      class="accordion--button collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseTen"
                      aria-expanded="false"
                      aria-controls="collapseTen"
                    >
                      Will we be able to receive reports of donors, so we can properly thank them?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseTen"
                  class="collapse"
                  aria-labelledby="accordion--heading"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      This is currently under development and the feature is projected to be released around December.
                      Each agency will have its own "profile" page that will show all wishes from the kids under their
                      care. You will be able to share the page and send your supporters to donate directly to your kids.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card" id="accordion--card">
                <div class="card-header" id="accordion--heading">
                  <h2 class="mb-0">
                    <button
                      class="accordion--button collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseEleven"
                      aria-expanded="false"
                      aria-controls="collapseEleven"
                    >
                      Does each partner have its own page people can access? So that we could send donors to a page that
                      shows all of our youth and children specifically?
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseEleven"
                  class="collapse"
                  aria-labelledby="accordion--heading"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      This is currently under development and the feature is projected to be released around December.
                      Each agency will have its own "profile" page that will show all wishes from the kids under their
                      care. You will be able to share the page and send your supporters to donate directly to your kids.
                    </p>
                    <p>
                      Right now, we only post the wishes collectively in one page on
                      <a href="https://donate-gifts.com/wishcards">https://donate-gifts.com/wishcards</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./templates/footer')-%>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
      integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
