<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Donate Gifts</title>
    <!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->
    <%- include('./templates/header')-%>
    <link rel="stylesheet" href="/public/css/howTo.css" />
  </head>

  <body>
    <%- include('./templates/nav')-%>
    <main id="howTo">
      <div class="container pt-5">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="blue-font cool-font my-3">
              How Does It Work For 
            </h1>
            <h1 class="red-font cool-font">
              <a href="#donor">Donors</a> & <a href="#partner">Partners</a>
            </h1>
          </div>
        </div>
      </div>

      <section id="donor">
        <div class="container" >
          <h2 class="cool-font blue-font py-5 text-center">How do I send gifts as a donor?</h2>
          <div class="row">
            <div class="col-md-6">
              <h3 class="yellow">Step 1</h3>
              <h3 class="mb-4 quick-font font-300">Choose wish cards to "Donate Gift"</h3>
              <p class="quick-font subtext text-left">
                Each wish card is for a different foster child, created and managed by our certified
                foster agency partner. Browse the wishes and become a Secret Santa to make their
                wish come true.
              </p>
              <p class="quick-font subtext text-left">
                Click the ‘Donate Gift’ button on the card or on their wish page to begin the
                donation process.
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
              <img src="../public/img/wishcard.svg" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="row my-4 py-4">
            <div class="col-md-6 order-md-2 order-sm-1">
              <h3 class="yellow">Step 2</h3>
              <h3 class="mb-4 quick-font font-300">
                Set shipping to the child’s gift registry address
              </h3>
              <p class="quick-font subtext text-left">
                Reserve the donation in the process modal. Follow the new tab link to check out from
                Amazon. While on the shipping page, under ‘Other Addresses’, choose the gift
                registry address.
              </p>
              <p class="quick-font subtext text-left">
                For security & privacy, the registry address is anonymous.
              </p>
            </div>
            <div
              class="col-md-6 order-md-1 order-sm-2 d-flex justify-content-center align-items-center"
            >
              <img src="../public/img/pickaddress.svg" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="row my-4 py-4">
            <div class="col-md-6">
              <h3 class="yellow">Step 3</h3>
              <h3 class="mb-4 quick-font font-300">Confirm your donation & get tax exemption</h3>
              <p class="quick-font subtext text-left">
                After checkout, the wish item will be delivered to the child’s gift registry
                address. Return to our site to confirm your donation. Then you will receive a
                tax-exempt receipt in the confirmation email.
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
              <img src="../public/img/gifts.svg" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 text-center">
              <h2 class="cool-font blue-font mb-5">Ready to make the foster kids happy?</h2>
              <a href="/wishcards" class="link--blue bdr-2">Start browsing wishes</a>
            </div>
          </div>
        </div>

      </section>

      <section id="partner" class="mt-5">
        <div class="container" >
            <h2 class="cool-font blue-font py-5 text-center">How do I create wishes as a partner?</h2>
            <div class="row">
              <div class="col-md-6">
                <h3 class="yellow">Step 1</h3>
                <h3 class="mb-4 quick-font font-300">Register as a partner</h3>
                <p class="quick-font subtext text-left">
                    We accept partnerships with state-certified foster care organizations, adoption agencies, licensed domestic foster homes, and other 501(c)(3) non-profit organizations that help homeless youth and children at risk.
                </p>
              </div>
              <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="../public/img/register.svg" alt="" class="img-fluid" />
              </div>
            </div>
            <div class="row my-4 py-4">
              <div class="col-md-6">
                <h3 class="yellow">Step 2</h3>
                <h3 class="mb-4 quick-font font-300">Become verified</h3>
                <p class="quick-font subtext text-left">
                    Agency verification may take up to 1-2 business days due to our security regulations. You will be notified once your agency account is verified.
                </p>
              </div>
              <div class="col-md-6">
                <h3 class="yellow">Step 3</h3>
                <h3 class="mb-4 quick-font font-300">Create wish cards</h3>
                <p class="quick-font subtext text-left">
                    Create wish cards by filling out a simple form. Choose wish items from our suggested list, or search & add the product link if the child wishes for a specific item. Your submission will be created as a draft and will be published after our review process. 
                </p>
              </div>
            </div>
            <div class="row my-4 py-4">
                <div class="col-md-6 order-md-2 order-sm-1">
                  <h3 class="yellow">Step 4</h3>
                  <h3 class="mb-4 quick-font font-300">
                    Get notified
                  </h3>
                  <p class="quick-font subtext text-left">
                    That’s it! You will be notified when your wish cards are published, as well as when gifts are on their way.
                    More questions? Check out the FAQs.
                  </p>
                </div>
                <div
                  class="col-md-6 order-md-1 order-sm-2 d-flex justify-content-center align-items-center"
                >
                  <img src="../public/img/notified.svg" alt="" class="img-fluid" />
                </div>
              </div>
              <div class="row py-5">
                <div class="col-12 text-center">
                  <h2 class="cool-font blue-font mb-5">Ready to become a foster care partner?</h2>
                  <a href="/users/signup" class="link--blue bdr-2">Register your agency</a>
                </div>
              </div>
          </div>
      </section>

      <%- include('./templates/footer')-%>
    </div>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
      integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
