<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180152810-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-180152810-1');
    </script>
    <title>How Does It Work | Donate Gifts</title>
    <%- include('./templates/header')-%>
    <link rel="stylesheet" href="/public/css/howTo.css" />
    <link rel="stylesheet" href="/public/dist/howto.min.css" />
  </head>

  <body>
    <%- include('./templates/nav')-%>
    <div class="howto">
      <!-- Donor How To Section -->
      <section id="donor" class="pt-4 pb-5">
        <div class="container" >
          <h2 class="cool-font blue-font py-5 text-center mt-3">How do I send gifts as a donor?</h2>
          <div class="row">
            <div class="col-md-6">
              <h3 class="yellow cool-font">Step 1</h3>
              <h3 class="mb-4 quick-font font-300">Choose wish cards to "Donate Gift"</h3>
              <p class="quick-font subtext text-left">
                Each wish card is for a different foster child, created and managed by our certified
                foster agency partner. Browse the wishes and become a Secret Santa to make their
                wish come true.
              </p>
              <p class="quick-font subtext text-left">
                Click the ‘Donate Gift’ button on the card or on their wish page to begin the
                donation process.
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
              <img src="../public/img/wishcard-click.svg" alt="click on the wishcard" class="img-fluid" />
            </div>
          </div>
          <div class="row my-4 py-4">
            <div class="col-md-6 order-md-2 order-sm-1">
              <h3 class="yellow cool-font">Step 2</h3>
              <h3 class="mb-4 quick-font font-300">
                Wish donation secure checkout
              </h3>
              <p class="quick-font subtext text-left">
                Your payment transaction is powered by Stripe, which is audited by a PCI-certified auditor and is certified to PCI Service Provider Level 1. 
                This is the most stringent level of certification available in the payments industry. 
              </p>
              <p class="quick-font subtext text-left">
                Simply enter the name on card, card number, expiration date, CVC (security code 3-4 digits), and the zipcode.
              </p>
              <p class="quick-font subtext text-left">
                That's it! You will be notified after confirmed payment with the donation and shipping details.              </p>
            </div>
            <div
              class="col-md-6 order-md-1 order-sm-2 d-flex justify-content-center align-items-center"
            >
              <img src="../public/img/howto-checkout.svg" alt="easy secure checkout" class="img-fluid" />
            </div>
          </div>
          <div class="row my-4 py-4">
            <div class="col-md-6">
              <h3 class="yellow cool-font">Step 3</h3>
              <h3 class="mb-4 quick-font font-300">Get 100% tax deductible receipt</h3>
              <p class="quick-font subtext text-left">
                After checkout, we will deliver the gift to each managing foster agency. 
                All kids and youth are under our partner agencies' care and the 
                agency staff will collect and distribute the shipped wish items. 
              </p>
              <p class="quick-font subtext text-left">
                We don't have a drop-off site because we handle all shipping orders to make the donation experience more 
                easy and efficient for you.
              </p>
              <p class="quick-font subtext text-left">
                You will receive a tax-exempt receipt, shipping details, and delivery proof in the confirmation email. 
                If our partner agency permits, you will also get a thank you message and photos from the child.
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
              <img src="../public/img/howto-gift.svg" alt="gift delivered" class="img-fluid" />
            </div>
          </div>
          <div class="row my-5 pb-3">
            <div class="col-12 text-center">
              <h2 class="cool-font blue-font mb-5">Ready to make the foster kids happy?</h2>
              <a href="/wishcards" class="link--blue bdr-2">Start browsing wishes</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Partner How To Section -->
      <section id="partner" class="mt-5">
        <div class="container" >
            <h2 class="cool-font blue-font py-5 text-center">How do I create wishes as a partner?</h2>
            <div class="row">
              <div class="col-md-6">
                <h3 class="yellow cool-font">Step 1</h3>
                <h3 class="mb-4 quick-font font-300">Register as a partner</h3>
                <p class="quick-font subtext text-left">
                    We accept partnerships with state-certified foster care organizations, adoption agencies, licensed domestic foster homes, and other 501(c)(3) non-profit organizations that help homeless youth and children at risk.
                </p>
              </div>
              <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="../public/img/register.svg" alt="" class="img-fluid" />
              </div>
            </div>
            <div class="row my-4 py-4">
              <div class="col-md-6">
                <h3 class="yellow cool-font">Step 2</h3>
                <h3 class="mb-4 quick-font font-300">Become verified</h3>
                <p class="quick-font subtext text-left">
                    Agency verification may take up to 1-2 business days due to our security regulations. You will be notified once your agency account is verified.
                </p>
              </div>
              <div class="col-md-6">
                <h3 class="yellow cool-font">Step 3</h3>
                <h3 class="mb-4 quick-font font-300">Create wish cards</h3>
                <p class="quick-font subtext text-left">
                    Create wish cards by filling out a simple form. Choose wish items from our suggested list, or search & add the product link if the child wishes for a specific item. Your submission will be created as a draft and will be published after our review process. 
                </p>
              </div>
            </div>
            <div class="row my-4 py-4">
                <div class="col-md-6 order-md-2 order-sm-1">
                  <h3 class="yellow cool-font">Step 4</h3>
                  <h3 class="mb-4 quick-font font-300">
                    Get notified
                  </h3>
                  <p class="quick-font subtext text-left">
                    That’s it! You will be notified when your wish cards are published, as well as when gifts are on their way.
                    More questions? Check out the FAQs.
                  </p>
                </div>
                <div
                  class="col-md-6 order-md-1 order-sm-2 d-flex justify-content-center align-items-center"
                >
                  <img src="../public/img/notified.svg" alt="" class="img-fluid" />
                </div>
              </div>
              <div class="row py-5">
                <div class="col-12 text-center mb-4">
                  <h2 class="cool-font blue-font mb-5">Ready to become a foster care partner?</h2>
                  <a href="/users/signup" class="link--blue bdr-2">Register your agency</a>
                </div>
              </div>
          </div>
      </section>
    </div>
    <%- include('./templates/footer')-%>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
      integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
