<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-180152810-1');
  </script>
  <title>Sign Up to Donate Gifts</title>

  <%- include('./templates/header')-%>

  <link rel="stylesheet" href="/public/css/signup.css" />
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- recaptcha -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- js scripts -->
  <script src="/public/clientJS/signup.js"></script>
  <script src="/public/clientJS/togglePasswordVisibility.js"></script>
</head>

<body>
  <%- include('./templates/nav')-%>

  <div class="signup-bg d-flex container-fluid justify-content-center py-5">

    <!-- sign up form | post to '/users/signup' -->
    <div class="wrap-box">

      <form class="signup" action="/users/signup" method="post">
        <!-- form title -->
        <div class="sign-row lg title-text crayon-font mg-sm">
          <button class="userLogBtn">
            <a href="/users/signup">Sign Up </a>
          </button>
          <span>OR</span>
          <button class="userLogBtn">
            <a href="/users/login"> Log In</a>
          </button>
          <!-- <img class="img-inline" src="/public/img/line-gift-white.png" alt="line-art-gift-image"> -->
        </div>
        <!-- first name -->
        <div class="wrap-input mg-btm" data-validate="First name is required">
          <input required class="input-default quick-font" type="text" name="fName" id="fName"
            placeholder="First name : " title="First name must contain alphabets only" />
        </div>
        <!-- last name -->
        <div class="wrap-input mg-btm" data-validate="Last name is required">
          <input required class="input-default quick-font" type="text" name="lName" id="lName"
            placeholder="Last name : " title="Last name must contain alphabets only" />
        </div>
        <!-- email -->
        <div class="wrap-input mg-btm" data-validate="Email is required">
          <input required class="input-default quick-font" type="email" name="email" id="email" placeholder="Email : "
            title="example: username@xyz.com" />
        </div>
        <!-- password -->
        <div class="wrap-input mg-btm2" data-validate="Password is required">
          <input required class="input-default quick-font" type="password" name="password" id="password"
            placeholder="Password : " pattern="(?=.*\d)(?=.*[a-z]).{8,}"
            title="Must contain at least one number and one lowercase letter, and at least 8 or more characters" />
            <i id="showPassword" class="fas fa-eye"></i>
        </div>
        <div class="wrap-input mg-btm2" data-validate="Password is required">
          <input required class="input-default quick-font" type="password" name="password2" id="password2"
            placeholder="Confirm Password :" />
        </div>
        <!-- userRole section -->
        <fieldset class="wrap-radio quick-font">
          <legend class="md2">Signing up as :</legend>
          <div class="row">
            <input type="radio" id="donor" name="userRole" value="donor" />
            <label for="donor">Gift Sender</label>
          </div>
          <div class="row">
            <input type="radio" id="partner" name="userRole" value="partner" data-toggle="modal"
              data-target="#signupModalCenter" />
            <label for="partner">Foster Care Partner</label>
          </div>
        </fieldset>
        <!-- submit button section -->
        <div class="g-recaptcha" data-sitekey="6LcaNtcZAAAAAJ4wxLdiUe4fc1sLhkILRs-DXnXe"
          data-callback="confirmCaptchaSubmit" data-size="invisible"></div>
        <div class="container-form-btn">
          <button class="form-btn quick-font" id="submit-btn" type="submit">Sign Up</button>
        </div>
      </form>

      <%- include('./templates/signupModal')-%>
    </div>
  </div>

  <%- include('./templates/footer')-%>
</body>

</html>