<!DOCTYPE html>
<html lang="en">

<head>
    <title>Who we are | Donate Gifts</title>
    <!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->
    <%- include('./templates/header')-%>
    <link rel="stylesheet" href="/public/css/about.css" />
</head>

<body>
    <%- include('./templates/nav')-%>
    <section class="container-fluid my-5 text-center">

        <div class="pt-1">
            <h1 class="h1-responsive font-weight-bold cool-font red-font my-2 mb-5">Meet Our Pets</h1>

            <div class="img-crop mx-auto m-2">
                <img src="/public/img/team/stacy-dog-min.jpeg" alt="stacy-dog" class="img-fluid" loading="lazy">
            </div>

            <div class="img-crop mx-auto m-2">
                <img src="/public/img/team/patric-dog-min.jpg" alt="patric-dog" class="img-fluid" loading="lazy">
            </div>

            <div class="img-crop mx-auto m-2">
                <img src="/public/img/team/marco-cat-min.jpg" alt="marco cat" class="profile-pic-rect" loading="lazy">
            </div>

            <div class="img-crop mx-auto m-2">
                <img src="/public/img/team/tokikko-cat-min.jpg" alt="tokikko-cat" class="img-fluid" loading="lazy">
            </div>

            <div class="img-crop mx-auto m-2">
                <img src="/public/img/team/markell-hedgehog-min.jpg" alt="markell-hedgehog" class="profile-pic-rect"
                    loading="lazy">
            </div>


            <h1 class="h1-responsive font-weight-bold cool-font red-font my-2 pt-5">The Volunteers</h1>
            <h5 class="quick-font w-responsive mx-auto mb-5">Our kind volunteers work tirelessly to create positive
                changes</h5>


            <div class="col-md-3 mb-md-0 mb-5 team-card-2 m-2 mx-auto">
                <h4 class="grn-font font-weight-bold mt-4 mb-3 quick-font">Stacy Sealky Lee</h4>
                <div class="desc">
                    <p class=""><strong>Founder | Software Developer</strong></p>
                    <p><strong>Q: </strong> Why are you working for this project?</p>
                    <p class="px-4"><strong>A: </strong>It may sound cliche, but I believe that we are all born with
                        the ability to change someone’s life, small or big.
                        I hope that the kids know that there are people who love them and care about them, and that
                        everything shall pass. I hope that this platform serves as a loving community that supports
                        the kids in some small way.</p>
                </div>
            </div>

            <div class="col-md-3 mb-md-0 mb-5 team-card m-2 mx-auto">
                <h4 class="grn-font font-weight-bold mt-4 mb-3 quick-font">Patric Hoffmann</h4>
                <div class="desc">
                    <p class=""><strong>Software Developer</strong></p>
                    <p><strong>Q: </strong> Why are you working for this project?</p>
                    <p class="px-4"><strong>A: </strong>The mission of helping children in need is very personally
                        important to me.</p>
                </div>
            </div>

            <div class="col-md-3 mb-md-0 mb-5 team-card-2 m-2 mx-auto">
                <h4 class="grn-font font-weight-bold mt-4 mb-3 quick-font">Ivan Repusic</h4>
                <div class="desc">
                    <p class=""><strong>Software Developer</strong></p>
                    <p><strong>Q: </strong> Why are you working for this project?</p>
                    <p class="px-4"><strong>A: </strong>I like to use my time to do something meaningful.</p>
                </div>
            </div>

            <div class="col-md-3 mb-md-0 mb-5 team-card m-2 mx-auto">
                <h4 class="grn-font font-weight-bold mt-4 mb-3 quick-font">Marco Schuster</h4>
                <div class="desc">
                    <p class=""><strong>Software Developer</strong></p>
                    <p><strong>Q: </strong> Why are you working for this project?</p>
                    <p class="px-4"><strong>A: </strong>I was looking for an open source project to contribute to
                        for fun and also a bit for my portfolio.</p>
                </div>
            </div>

            <div class="col-md-3 mb-md-0 mb-5 team-card m-2 mx-auto">
                <h4 class="grn-font font-weight-bold mt-4 mb-3 quick-font">Jacob John Jeevan</h4>
                <div class="desc">
                    <p class=""><strong>Software Developer</strong></p>
                    <p><strong>Q: </strong> Why are you working for this project?</p>
                    <p class="px-4"><strong>A: </strong>I was looking for open source projects to contribute to
                        (mostly to improve my own portfolio). This was the perfect opportunity to grow and learn,
                        while contributing to a meaningful cause.</p>
                </div>
            </div>


        </div>

    </section>
    <%- include('./templates/footer')-%>
</body>

</html>