<!DOCTYPE html>
<html lang="en">

<head>
    <title>Terms of Service | Holiday Gift Donation | Donate Gifts to Foster Kids</title>

    <!-- Site SEO -->
    <meta name="description" content="User Agreement for DonateGifts | Send holiday birthday gifts to foster kids">
    <meta name=”robots” content="index, follow">
    <meta name="keywords" content="user, children, donate">
    <%- include('./templates/header')-%>
</head>

<body>
    <%- include('./templates/nav')-%>

    <div class="container my-4">
        <div class="row pt-2">
            <h1 class="px-2">DonateGifts Terms of Service Agreement</h1>
        </div>
        <h4 class="pt-2">Last Revised September 29, 2020</h4>
        <p>PLEASE READ THE TERMS OF SERVICE AGREEMENT CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR
            LEGAL RIGHTS, REMEDIES, OBLIGATIONS, AND COPYRIGHTS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS.
        </p>
        <div class="container-fluid">
            <div class="row pt-2">
                <h4>1. Your Acceptance of These Terms</h4>
                <p>Welcome to donate-gifts.com and donate-gifts.org (collectively, including all software, content, and
                    functionality available through the donate-gifts.com domain name and mobile device application, the
                    "Website", “Site”, “Application” or "donate-gifts.com"). Donate Gifts (hereafter referred to as
                    "DonateGifts," "we," "us," or "our") provides a platform where users can find wish items of the
                    children
                    in foster care system (hereafter referred to as “foster children”, “foster kids”, “kids”,
                    “children”)
                    and have the ability to donate gift items to the children.
                </p>
                <p>A. By using and/or visiting this website, and clicking "I Accept" or “I Agree” if the options are
                    presented, you agree to comply with and be legally bound by (1) these terms and conditions (the
                    "Terms
                    of Service" or “Terms”) that constitute a legal agreement between you and DonateGifts, whether or
                    not
                    you become a registered user of the Services, and (2) our privacy policy incorporated into these
                    Terms
                    of Service by reference. If you do not agree to any of the terms and conditions of the Terms of
                    Service,
                    including the DonateGifts privacy policy, you have no right to obtain information from or continue
                    using
                    the Website or Application. Failure to use the Website and Application in accordance with the Terms
                    may
                    subject you to civil and criminal penalties.
                </p>
            </div>
            <div class="row">
                <p>B. Although we may attempt to notify you when major changes are made to these Terms of Service, you
                    should periodically review the most up-to-date version on our website. DonateGifts may, in its sole
                    discretion, modify or revise these Terms of Service and policies at any time, and you agree to be
                    bound
                    by such modifications or revisions by your continued use of the Website, with respect to the Terms
                    of
                    Service in effect at the time of your use and after you have the opportunity to review and accept
                    the
                    revised Terms of Service. Nothing in this Agreement will be deemed to confer any third-party rights
                    or
                    benefits.
                </p>
            </div>
            <div class="row">
                <p>C. You affirm that you are either more than 18 years of age, or an emancipated minor, or possess
                    legal
                    parental or guardian consent, and are fully able and competent to enter into the terms, conditions,
                    obligations, affirmations, representations, and warranties set forth in these Terms of Service, and
                    to
                    abide by and comply with these Terms of Service. The Website is not intended for anyone under 18 to
                    prevent misuse. If you are under 18 years of age, then we do not allow you to use the website.</p>
            </div>
            <div class="row">
                <p>D. Donation items are currently linked with products that are sold through Amazon.com (“Amazon”) to
                    provide convenience to our Users. Our site works as a non-profit third party that connects our users
                    with products sold on Amazon and we have no relation or liability regarding Amazon’s products,
                    delivery,
                    shipping, payment, or any other services. You understand and agree that DonateGifts is not a party
                    to
                    any agreements entered into between Amazon and Users. DonateGifts has no control and legal
                    responsibility over the conduct of Amazon and Users of this Website and Application, and disclaims
                    all
                    liability in this regard.</p>
            </div>
            <div class="row">
                <h4>2. Website</h4>
                <p>A. DonateGifts only accepts partnership with non-profit foster care organizations, licensed adoption
                    and
                    family care agencies, and state-certified domestic foster homes (collectively, the “partners”). No
                    minor
                    (anyone under 18 years old) or non-certified caregiver can register as a foster care partner to
                    create
                    wish cards on their own, in order to prevent any potential misuse of our site.
                    The Website exists to facilitate the virtual gift donation between you and the foster children who
                    are
                    legally managed by our partners.
                    For verified partners, the Website allows you to manage the account and create wish cards for the
                    children under your care. You may not have immediate permission to create the wish cards until your
                    account is reviewed and verified. We hold full legal rights to decide who gets verified. The Website
                    also allows you to communicate with other users including partners. You fully acknowledge that the
                    failure to use the Website and Application in accordance with the Terms (any violation with Terms)
                    may
                    subject you to civil and criminal penalties.
                </p>
            </div>
            <div class="row">
                <p>B. When using or accessing DonateGifts, you must comply with these Terms and all applicable laws,
                    rules,
                    and regulations.
                    We do not allow and you may not do any of the following: </br>
                    Use the Services in any manner that could interfere with, disable, disrupt, overburden, or otherwise
                    impair the Services.</br>
                    Gain access to (or attempt to gain access to) another user’s Account or any non-public portions of
                    the
                    Services, including the computer systems or networks connected to or used together with the
                    Services.</br>
                    Upload, transmit, or distribute to or through the Services any viruses, worms, malicious code, or
                    other
                    software intended to interfere with the Services, including its security-related features.</br>
                    Use the Services to violate applicable law or infringe any person’s or entity's intellectual
                    property
                    rights or any other proprietary rights.</br>
                    Access, search, or collect data from the Services by any means (automated or otherwise) except as
                    permitted in these Terms or in a separate agreement with DonateGifts.</br>
                    Use the Services in any manner that we reasonably believe to be an abuse of or fraud on DonateGifts
                    or
                    any payment system.</br>
                    Use of harmful, disturbing, inappropriate content or language when communicating with other
                    Users.</br>
                    Distribute the images from our website for monetary gain or any illegal usage. You may not save or
                    use
                    the images of children for any unauthorized activity or usage. DonateGifts holds full copyrights to
                    all
                    of the content including images, videos, and other files uploaded on our website. Violators may be
                    prosecuted.
                </p>
            </div>
            <div class="row">
                <p>C. These Terms of Service apply to all users of the Website and all aspects of DonateGifts, including
                    but
                    not limited to all products and services offered via the Website.</p>
            </div>
            <div class="row">
                <p>D. The Website may contain links to third party websites that are not owned or controlled by
                    DonateGifts.
                    DonateGifts has no control over, and assumes no responsibility for, the content, privacy policies,
                    or
                    practices of any third party websites. In addition, DonateGifts will not and cannot censor or edit
                    the
                    content of any third-party site. By using the Website, you expressly relieve DonateGifts from any
                    and
                    all liability arising from your use of any third-party website.</p>
            </div>
            <div class="row">
                <p>E. Supplemental terms may appear on the Website or otherwise apply to particular activities or
                    transactions. Additionally, your interactions with third parties may be governed by separate Terms
                    of
                    Service and privacy policies of those third parties.</p>
            </div>
            <div class="row">
                <p>F. You must not share your identifiable personal information or payment information with other users
                    at
                    DonateGifts. </p>
            </div>
            <div class="row">
                <p>G. DonateGifts is not responsible for any fees or charges assessed by third parties or any errors in
                    the
                    processing of payments by third parties, including any errors that result from third-party
                    negligence,
                    improper transmission of payment information, your mistaken submission of payment information, or
                    your
                    submission of erroneous payment information.
                </p>
            </div>
            <div class="row">
                <p>H. DonateGifts reserves the right to change or discontinue, or restrict or block access to, any
                    aspect of
                    the Website at any time. Although we generally intend for the Website to be available 24/7, it will
                    not
                    be available during maintenance, changes and outages and may not be available for other reasons.
                </p>
            </div>
            <div class="row">
                <h4>3. Your Account and Responsibilities</h4>
                <p>A. You must provide all hardware and software required to use the Website, including but not limited
                    to a
                    computer with Internet access, a current Web browser with cookies enabled, and a valid e-mail
                    address.
                </p>
            </div>
            <div class="row">
                <p>B. You must create a user account to create Wish Cards or to be able to donate at the Website. You
                    agree
                    that information you provide when creating a user account at the Website is true and accurate, and
                    that
                    you will update this information promptly should it change. Failure to provide accurate information
                    is a
                    breach of these Terms of Service. You are solely responsible for the activity that occurs on your
                    account, and you must keep your account password confidential and secure. You must notify
                    DonateGifts
                    immediately of any breach of security or unauthorized use of your account. You agree that we may
                    attribute to you all use that occurs under your account and password, and you will be legally bound
                    by
                    the transactions that occur under your account even if the person using your password had no actual
                    authority.
                </p>
                <p>C. You may never use another User's account without permission.</p>
                <p>D. You agree not to distribute in any medium any part of the Website without our prior written
                    authorization.
                </p>
            </div>
            <div class="row">
                <p>E. You agree not to alter or modify any part of the Website. This does not include your own profile
                    page,
                    dashboard settings, your personal information, your activities, and your user account settings.
                </p>
                <p>F. You agree not to use the Website for any commercial use, without the prior written authorization
                    of
                    DonateGifts. Prohibited commercial uses include any of the following actions taken without our
                    approval:
                    - unauthorized sale of access to the Website or its related services on another website;
                    - use of the Website or its related services for the purpose of soliciting or other unauthorized and
                    illegal activities; and
                    - any use of the Website or its related services that DonateGifts finds, in its sole discretion, to
                    use
                    DonateGifts' resources with the effect of competing with or displacing the market for DonateGifts
                    services.
                </p>
            </div>
            <div class="row">
                <p>G. You agree not to use or launch any automated system, such as "robots," "spiders," or "offline
                    readers," that access the Website in a manner that sends numerous request messages to the
                    DonateGifts
                    servers in a given period of time.</p>
                <p>H. You agree not to collect or harvest any personally identifiable information, including account
                    names,
                    user information, from the Website, nor to use the communication systems provided by the Website
                    (e.g.
                    comments, email, messages, calls, and reviews) for any solicitation purposes. You agree not to
                    solicit,
                    for commercial purposes, any users of the Website.</p>
            </div>
            <div class="row">
                <p>I. In your use of the Website, you will otherwise comply with the terms and conditions of these Terms
                    of
                    Service, and all applicable local, national, and international laws and regulations. You also agree
                    not
                    to: <br>
                    (1) attempt to access any service or area of the Website that you are not authorized to access;<br>
                    (2) alter information on or obtained from the Website;<br>
                    (3) reverse engineer any aspect of the Website or do anything that might discover source code, or
                    bypass
                    or circumvent measures employed to prevent or limit access to any area, content or code of the
                    Website
                    (except as otherwise expressly permitted by law);<br>
                    (4) send to or otherwise impact us or the Website (or anything or anyone else) with harmful,
                    illegal,
                    deceptive or disruptive code such as a virus, "spyware", "adware" or other code that could adversely
                    impact the Site or any recipient;<br>
                    (5) take any action which might impose a significant burden (as determined by us) on Website
                    infrastructure, or otherwise interfere with the ordinary operation or mission of the Website;
                    and<br>
                    (6) "frame" all or any portion of the Website or otherwise make it look like you have a relationship
                    to
                    us for any purpose.
                </p>
            </div>
            <div class="row">
                <h4>4. Indemnity</h4>
                <p>Except to the extent prohibited by law, you agree to defend, indemnify, and hold us, our directors,
                    officers, employees, affiliates, agents, contractors, third-party service providers, and licensors
                    harmless from any claim or demand, including costs and attorneys’ fees, made by any third party due
                    to
                    or arising out of (a) your use of the Services, (b) your violation of these Terms, (c) your
                    violation of
                    applicable laws or regulations, or (d) Your Content. We reserve the right to control the defense of
                    any
                    matter for which you are required to indemnify us, and you agree to cooperate with our defense of
                    these
                    claims.
                </p>
            </div>
            <div class="row">
                <h4>5. Disclaimers</h4>
                <p>THE SERVICES ARE PROVIDED “AS IS” AND “AS AVAILABLE” WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS
                    OR
                    IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A
                    PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WHILE DONATEGIFTS ATTEMPTS TO MAKE YOUR ACCESS TO AND USE
                    OF
                    OUR SERVICES SAFE, WE DO NOT REPRESENT OR WARRANT THAT OUR SERVICES OR SERVERS ARE FREE OF VIRUSES
                    OR
                    OTHER HARMFUL COMPONENTS.</p>
            </div>
            <div class="row">
                <h4>6. Limitation of Liability</h4>
                <p>IN NO EVENT AND UNDER NO THEORY OF LIABILITY, INCLUDING CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY,
                    WARRANTY, OR OTHERWISE, WILL DONATEGIFTS BE LIABLE TO YOU FOR ANY INDIRECT, CONSEQUENTIAL,
                    EXEMPLARY,
                    INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, OR LOST PROFITS ARISING FROM OR RELATING TO THESE TERMS OR
                    THE
                    SERVICES, INCLUDING THOSE ARISING FROM OR RELATING TO CONTENT MADE AVAILABLE ON THE SERVICES THAT IS
                    ALLEGED TO BE DEFAMATORY, OFFENSIVE, OR ILLEGAL. ACCESS TO, AND USE OF, THE SERVICES IS AT YOUR OWN
                    DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR DEVICE OR COMPUTER
                    SYSTEM, OR LOSS OF DATA RESULTING THEREFROM. IN NO EVENT WILL THE AGGREGATE LIABILITY OF DONATEGIFTS
                    EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS ($100). THE LIMITATIONS OF THIS SECTION WILL APPLY TO
                    ANY
                    THEORY OF LIABILITY, INCLUDING THOSE BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING
                    NEGLIGENCE)
                    OR OTHERWISE, AND EVEN IF DONATEGIFTS HAS BEEN ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND
                    EVEN
                    IF ANY REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED ITS ESSENTIAL PURPOSE. THE FOREGOING
                    LIMITATION
                    OF LIABILITY WILL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.
                </p>
            </div>
        </div>
    </div>

    <%- include('./templates/footer')-%>
</body>

</html>