<div class="row justify-content-center choicesContainer">
    <% if (itemChoices) { %>
    <% for (let i = 0; i < itemChoices.length; i++) { %>
    <label>
        <input type="radio" name="itemChoice" required value="<%= JSON.stringify(itemChoices[i]) %>">
        <img class="card itemChoice" src="<%= itemChoices[i].Image %>" alt="Card image cap">
    </label>
    <% } %>
    <%}%>
</div> 