# Ignore Mac system files & workspace
.DS_store
VS-workspace.code-workspace
.settings
.project
uploads
node_modules
# Ignore files related to API keys
.idea
.env
config.env
sql.env
# generated logs folder
server/logs
.eslintcache
dump.*
.adminbro

# build files
dist
tsconfig.tsbuildinfo
server/db/seederCredentials.json

.npmrc
