.footer-bar {
	padding: 0.25rem 0 1rem;
	font-size: 1rem;
	color: $white;
	text-align: center;
	background: $primary-dark;
	font-family: $font-body;

	.support {
		color: $warning;
		font-weight: $fw-semi-bold;
		font-size: 1.25rem;

		&:hover {
			text-decoration: underline;
		}
	}
}

.footer-item {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		color: $warning;
	}
}
