.profile {
	background-color: lighten($cream, 10) !important;
	@include font-styling($font-body, 1rem);
	.profile-welcome {
		background: url("../img/profile-bg.png") bottom center no-repeat;
		background-size: cover;
		min-height: 33vh;
		display: flex;
		justify-content: center;
		align-items: center;
		h1 {
			@include font-styling($font-heading, 3rem, $custom-orange);
			text-transform: capitalize;
			text-align: center;
		}
	}
	i {
		color: $custom-orange;
	}
	h2 {
		@include font-styling($font-body, 1.35em, $navy-dark, $semi-bold);
		text-align: left;
	}
	h5 {
		@include font-styling($font-body, 1.5em, $navy-dark, $semi-bold);
	}
	.fas.fa-check-circle {
		font-size: 1.25rem;
	}
	.fa-user,
	.fa-bell,
	.fa-cogs,
	.fa-gift {
		font-size: 2em;
	}
	.card-title span {
		@include font-styling($font-body, 1.35em, $navy-dark, $semi-bold);
	}
}

.profile-panel {
	background-color: $white;
	padding: 1.5em;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	.card-body {
		padding: 2rem !important;
	}
	p {
		span:first-child {
			font-weight: $semi-bold !important;
		}
		span {
			@include font-styling($font-body, 1.1rem, $navy-dark, $normal);
		}
	}
	.text-accent {
		color: $custom-orange;
	}
}

/*--------------------------------------------------------------
    Profile Edit
--------------------------------------------------------------*/
.profile-edit-icon {
	position: relative;
	float: right;
	margin-top: 1em;
	margin-right: 0.5em;
	width: 1.5em;
	height: 1.5em;
	cursor: pointer;
}

.edit-input {
	border: 1px solid $navy;
	border-radius: 0.25rem;
	background-color: $gray-100;
}

#accountDetailsModal,
#agencyDetailsModal,
#aboutMeModal {
	h5 {
		@include font-styling($font-body, 1.25rem, $navy, $semi-bold);
	}
	.modal-body {
		@include font-styling($font-body, 1.1rem, $navy-dark, $normal);
	}
	.modal-footer button {
		width: 30%;
	}
	input::placeholder,
	textarea::placeholder {
		color: $navy-dark !important;
	}
}

.textarea-about-me {
	position: relative;
	display: flex;
	margin: auto;
	padding: auto;
	width: inherit;
	height: inherit;
}
