.wishpage {
	min-height: 100vh !important;
	background-color: $gray-100;
	
	@include font-styling($font-body);

	.card-body {
		border-radius: 0.5rem;
		border: 1px solid $gray-400;
		background-color: $white !important;

		img {
			max-width: 95%;
			max-height: 50%;
			border-radius: 0.5em !important;
		}

		p {
			font-size: 1rem;
			word-wrap: break-word;
			width: 97% !important;
			line-height: 1.5;

			span:first-child {
				font-weight: $fw-semi-bold !important;
			}
		}

		button {
			max-width: 95% !important;
			margin: 1rem 1.5rem 0.5rem !important;
		}

		.wish-panel {
			padding-bottom: 0 !important;
		}
	}

	h1 {
		@include font-styling($font-heading, 2rem, $navy);

		text-align: center;
	}

	h2 {
		@include font-styling($font-body, 1.4em, $navy, $fw-semi-bold);

		text-align: left;
		text-transform: uppercase;
	}

	i {
		color: $secondary;
		font-size: 1.25rem;
		margin-left: 0;
	}

	textarea {
		border: 1px solid $gray-500;
		border-radius: 0.25rem;
		width: 95%;
	}

	.agency-link:hover {
		text-decoration: underline;
	}

	.custom-select {
		width: 95%;
		appearance: none;
		background: transparent;
		background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
		background-repeat: no-repeat;
		background-position-x: 97%;
		background-position-y: 50%;
		border: 1px solid $gray-500;
		border-radius: 0.25rem;
		padding: 1rem;
		cursor: pointer;
	}

	#submit {
		width: 95%;
	}

	.msg-each {
		border-bottom: 1px solid $gray-300;

		p:first-child {
			margin-bottom: 0 !important;
			font-weight: $fw-semi-bold;
			font-size: 1.1em;
		}

		i {
			font-size: 1.5em;
		}

		.time-stamp {
			font-size: 0.9em;
			margin-top: 0 !important;
		}
	}
}
