/* 
-----------------------------
v1.0 Color Scheme Reference:
-----------------------------
*/
$green: #00a19a;
$blue: #333a64;
$red: #ff5c6f;
$orange: #ff826b;
$navy: #333a64;
$black: #262626;
$yellow: #ffbb59;
$gray: #313131;
$white: #fff;
$cream: #f8e4c9;

$navy-dark: rgb(65, 66, 84);