.navbar {
  background-color: transparent;
  color: $navy;
  padding-bottom: 0;
  margin-bottom: -5px;
  font-family: $font-body;
  img {
    height: 4.5rem;
    width: auto;
    margin-bottom: 0.5rem;
  }
  i {
    color: $navy;
    font-size: 1.75rem;
  }
  a:hover {
    color: $orange !important;
  }
  .navbar-nav li {
    text-align: right;
  }
}

/*
  small screen
  --------------------------------*/
.site-navigation ul {
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 3;
  width: 320px;
  max-width: calc(100% - 120px);
  padding: 0;
  margin: 0;
  background: $white;
  list-style: none;
  overflow-x: scroll;
  text-align: center;
  li {
    margin: 0 0.75rem;
    a {
      display: block;
      padding: 10px 0;
      font-size: 1.1rem;
      text-decoration: none;
    }
  }
}
/*
  pc screen
  --------------------------------*/
@media screen and (min-width: 992px) {
  .site-navigation ul {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 1.4rem 0;
    overflow: auto;
    background: transparent;
    li a {
      padding: 0;
    }
  }
}
