@import './colors';
@import './fonts';
@import './utils';

/* 
-----------------------------
mission.ejs
-----------------------------
*/
.mission {
  background-color: lighten($cream, 8);
  .header {
    min-height: 30vh;
    color: $navy-dark;
    h1 {
      padding-top: 1em;
      font-family: $font-heading;
      border-bottom: 11px dotted $yellow;
      padding-bottom: 0.15em;
    }
    h4 {
      font-family: $font-body;
      font-size: 1.15em;
      line-height: 1.15em;
      margin: 0.5em 2em;
      text-align: center;
    }
  }
}
