@import 'includes';

main {
	min-height: 80vh;
	font-family: $font-body;
}

.heading-primary {
	@include font-styling($font-heading, 2.35em, $primary, $fw-medium);
}

.text-primary {
	font-family: $font-body;
}

.display-6 {
	font-family: $font-body;
	font-size: 1.3rem;
	font-weight: $fw-semi-bold;
	color: $primary;
}

.text-dark {
	color: $dark;
}

.fw-semi-bold {
	font-weight: $fw-semi-bold;
}

// Need to be reviewed first and removed after testing
.cool-font {
	font-family: DkCoolCrayon, sans-serif;
}

.crumble-font {
	font-family: DK-Crayon-Crumble, sans-serif;
}

.quicksand {
	font-family: Quicksand, sans-serif;
}

.center-elements {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gradient-form {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	form {
		background: linear-gradient(45deg, rgba($danger, 0.9), rgba($warning, 0.95));

		.form-control::placeholder {
			color: $white;
		}
	}
}

.truncate-ellipsis {
	@include text-truncate;

	display: inline-block;
	width: 100%;
}

.input-border{
	border-radius: 0.5rem;

	&-primary{
		border: 1px solid $primary;
	}

	&-secondary {
		border: 1px solid $secondary;
	}

	&-danger {
		border: 2px solid $danger;
	}
}

@media (width <= 768px) {
	.actions {
		flex-flow: column;
	}
}

#toast {
	&.toast {
		top: 10%;
		transform: translate(-50%,-50%);
		left: 50%;
		z-index: 1000;
	}
}

// for password show/hide icon (global)
.fa-eye,
.fa-eye-slash {
	cursor: pointer;
	font-size: 1.15rem;
}

.fa-question-circle {
	color: $secondary;
	font-size: 1.15em;
	cursor: pointer;
}

.art-badge {
	position: absolute;
	top: 15px;
	right: 20px;
	font-weight: $fw-semi-bold;
}

.holiday-bg {
	background: url('/img/holiday-message-bg.png') center center;
	background-size: cover;
}

.card {	
	.fa-upload {
		font-size: 1.15rem;
	}

	.upload-text {
		font-size: 1rem;
	}

	.uploader {
		background-color: lighten($cream, 8%);
		margin-top: 2.5rem;
	}
}

@media (width > 768px) {
	.card {
		.uploader {
			img {
				max-height: 200px;
				width: auto;
			}
		}
	}

	.w-sm-100 {
		width: auto;
	}

	.mb-sm-3 {
		margin-bottom: auto;
	}
}

@media (width <= 768px) {
	.card {
		.uploader {
			.form-text {
				width: 100%;
			}
		}
	}

	.w-sm-100 {
		width: 100% !important;
		margin-top: -3px !important;
	}

	.mb-sm-3 {
		margin-bottom: 1.5rem;
	}
}

