@import 'includes';

body {
	font-family: $font-body;
}

main {
	min-height: 80vh;
}

.heading-primary {
	@include font-styling($font-heading, 2.35em, $primary, $fw-medium);
}

// Need to be reviewed first and removed after testing
.cool-font {
	font-family: DkCoolCrayon, sans-serif;
}

.crumble-font {
	font-family: DK-Crayon-Crumble, sans-serif;
}

.quicksand {
	font-family: Quicksand, sans-serif;
}

.center-elements {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gradient-form {
	background:
		linear-gradient(#ff5f6d00, #ffc37100), center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	form {
		background: linear-gradient(45deg, $danger, $warning);

		.form-control::placeholder {
			color: $white;
		}
	}
}

.truncate-ellipsis {
	@include text-truncate;

	display: inline-block;
	width: 100%;
}

.input-border{
	border-radius: 0.5rem;

	&-primary{
		border: 1px solid $primary;
	}

	&-secondary {
		border: 1px solid $secondary;
	}
}

@media (width <= 768px) {
	.actions {
		flex-flow: column;
	}
}
