@import "includes";

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: $font-body;
}

.cool-font {
	font-family: DkCoolCrayon, sans-serif;
}

.quicksand {
	font-family: Quicksand, sans-serif;
}

.center-elements {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header {
	background-color: lighten($warning, 10%);
}

.gradient-form {
	background:
		linear-gradient(#ff5f6d00, #ffc37100),
		url('/img/gift-white-bg.jpeg') center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	form {
		background: linear-gradient(45deg, $danger, $warning);

		.form-control::placeholder {
			color: $white;
		}
	}
}

.typing {
	// margin-left: 10px;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 1px;
		height: 60px;
		border: 2px solid $white;
		animation: blink 0.5s infinite ease;
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}