extends ../master

block title
    title Donate Gifts

block content
    #contact.gradient-form
        .container
            .container.py-5
                .text-center
                    h1.text-center.text-primary.cool-font.mb-3 Get in Touch
                    p Please fill out form and we will be in touch as soon as possible. Perhaps your question has been answered, see our
                        a.text-secondary.ms-1.text-decoration-none( href='/faq' ) FAQs.
                form#sign-up-form.p-5.rounded-4
                    .col-md-8.mx-auto.text-white
                        .py-2
                            label.form-label( for='name' ) Name
                            input#name.form-control.bg-transparent.border-0.rounded-0.border-bottom.border-white( name='name'
                                type='text'
                                required
                            )
                        .py-2
                            label.form-label( for='email' ) Email
                            input#email.form-control.bg-transparent.border-0.rounded-0.border-bottom.border-white( name='email'
                                type='email'
                                required
                            )
                        .py-2
                            label.form-label( for='subject' ) Subject
                            input#subject.form-control.bg-transparent.border-0.rounded-0.border-bottom.border-white( name='subject'
                                type='text'
                                required
                            )
                        .py-2
                            label.form-label( for='contact-message' ) Message
                            textarea#contact-message.form-control.bg-transparent.border-0.rounded-0.border-bottom.border-white( name='message'
                                type='text'
                                required
                            )

                        .row.py-2.justify-content-center
                            .col-md-4
                                button#submit-btn.btn.btn-lg.btn-primary.w-100( type='submit' ) Contact Us

block scripts
    script.
        $(document).ready(() => {
            $('form').submit(function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/contact/customer-service',
                    data: $(this)
                        .serializeArray()
                        .reduce((obj, item) => {
                            obj[item.name] = item.value;
                            return obj;
                        }, {}),
                    success: () => {
                        showToast('Message sent, thank you for your feedback!', true);
                        $('#emailForm').trigger('reset');
                    },
                    error: (response) => {
                        showToast(response.responseJSON.error.msg);
                    }
                });
            });
        });