extends ../master

block title
    title Log In Existing User | Donate Gifts

append meta
    if locals.env.mode === 'development'
        meta( name='referrer' content='no-referrer-when-downgrade' )

append scripts
    script.
        $(document).ready(function() {
            const root = ReactRoot(document.querySelector('#app-root'));
            root.render(
                React.createElement(
                    Login,
                    {
                        clientId: '#{locals.env.google}',
                    }
                )
            );
        });