extends ../master

block title
    title Donate Gifts

block content
    #mission.pb-5
        .container
            .header.d-flex.justify-content-center.align-items-center.flex-column.pt-4.pb-2
                h1 Our Mission
                h3.text-center.fs-5 Learn about our commitment to making foster children happy
            section.info-section.py-4.mb-4.mt-2.info-text
                .row.align-items-center
                    .col-lg-6.col-12.p-5.d-flex.justify-content-center
                        img.img-fluid( src='/img/kids-happy-outside.jpg' alt='gift-donation-for-children' loading='lazy' )
                    .col-lg-6.col-12.p-5.d-flex.flex-column
                        .info-list
                            p
                                | The DonateGifts project was founded and established in Chicago in August, 2020.
                                | We partner with over 35 certified foster care agencies all around the United States.
                            p
                                span DonateGifts is a
                                    a.mx-1( href="/proof" ) 501(c)(3) Non Profit Organization
                                span that collects your donations and sends holiday gifts and school supplies to foster children and youth at emergency shelters.
                            p
                                | Our verified partner agencies create and manage wish cards for the kids under their care.
                                | Each wish card is unique and personal and linked with the gift item the child asked for.
                                | Upon receiving your donation, we order and ship the gift item to each care agency.
                                | The agency staffs or social workers collect and distribute the delivered items to each child.
                .row.align-items-center
                    .col-lg-6.col-12.px-5.d-flex.flex-column.justify-content-center.align-items-end
                        .info-list
                            h4 1. Transparent &amp; Efficient
                            p
                                | In-kind material donation process is more complicated than expected and often requires you to physically visit the drop-off site.
                                | We want to simplify your donation experience and make everything transparent.
                                | When you donate a gift, you will receive the donation shipping details and a delivery proof, as well as a tax-exempt receipt.
                            p
                                span We ask our agency partners to post photo proofs of the received wish items. You can check out the past deliveries at our
                                    a.mx-1( href="/community" ) Community
                                span page.
                            h4.mt-5 2. Specific Wish Items
                            p
                                | Unlike other donation programs and toy drives, our foster child can wish for a specific gift,
                                | such as a basketball or new shoes, rather than getting random gifts delivered to them.
                    .col-lg-6.col-12.p-5.d-flex.justify-content-center
                        img.img-fluid.img-mid( src='/img/wish-item-received.jpeg' alt='help-children-receive-toys-and-supplies' loading='lazy' )

                .row.align-items-center
                    .col-lg-6.col-12.p-5.d-flex.justify-content-center
                        img.img-fluid( src='/img/donate-school-supplies.jpg' alt='donate-school-supplies-to-children' loading='lazy' )

                    .col-lg-6.col-12.p-5.d-flex.flex-column
                        .info-list
                            h4 3. Support Education
                            p
                                | Not only we donate holiday gifts, but we also host school supply donations.
                                | Support the equality of educational opportunities by donating school supplies that the children need.

                            h4.mt-5 4. Safe &amp; Secure
                            p
                                | Minimal handling and no-contact delivery make DonateGifts great for COVID-19 and other public health concerns.
                                | We only donate new items and do not handle used items to ensure safety.
                                | Your donation transactions are securely encrypted and powered by Stripe and Paypal.
