extends ../master

block title
    title Donate Gifts

block content
    #mission
        #header
            .center-elements.py-5
                .col-md-8.text-center
                    h1.text-primary.dk-cool-crayon Our Mission
                    .fs-4.fw-light Learn about our commitment to making foster children happy

        .container.py-4
            section.mb-3
                .row
                    .col-md-6.order-2.center-elements
                        img.img-fluid( src='/img/kids-smile.gif' alt='donate-school-supplies-to-children-image' )
                    .col-md-6.text-start
                        h3.text-primary.text-center Bringing smiles to kids
                        p.fw-bold.text-center Mission: Every child should feel valued, remembered, and loved.
                        p
                            | The DonateGifts project was founded and established in Chicago in August, 2020.
                            | We partner with over 35 certified foster care agencies all around the United States.
                            | And with your help, we collectively send holiday and birthday gifts to foster children and homeless youth.
                            | Our verified partner agencies create and manage wish cards for the kids under their care.
                            | Each wish card is unique and personal and linked with the gift item they want to receive.
                            | Donation is directly linked to the product sold on Amazon, and after your confirmed payment,
                            | we ship the gift to each managing foster agency.
                            | The agency staffs or social workers collect and distribute the delivered items to each kid.
            section.mb-3
                .row
                    .col-md-6.order-lg-2.order-md-1.text-start
                        h3.text-primary.font-lg.text-center What's special about DonateGifts
                        p.fw-bold.text-center
                            | 1. Easy, efficient, and transparent gift donation
                        p
                            | Often, the in-kind material donation process is more complicated than expected.
                            | We want to simplify your donation experience. With one button click, it will automatically send the
                            | child's wish item to their address. You will receive a tax-exempt receipt, shipping details,
                            | and delivery proof, as well as photos and messages from the child if our partner agency permits.
                            | No need to shop at the store or drive to the drop-off site. No unnecessary hassle for doing good.
                        p.fw-bold.text-center
                            | 2. No random gifts, they get what they wished for
                        p
                            | Unlike other donation programs and toy drives, our foster child can wish for a specific gift,
                            | such as a basketball or new shoes, rather than getting random gifts delivered to them.
                        p.fw-bold.text-center
                            | 3. Perfect solution for COVID-19
                        p
                            | Minimal handling, no contact delivery, &amp; no drop-off site with our secure payment and automated delivery system.
                        p.fw-bold.text-center
                            | 4. Building personal connections and a loving community
                        p
                            | It's more than just a simple donation. We are building a supportive community for the foster kids. Because they belong and they matter. Stay tuned for our new cool features in 2021.
                    .col-md-6.order-lg-1.order-md-2.center-elements
                        img.img-fluid( src='/img/three-kids-bg.jpg' alt='support the kids, foster love' )
