extends ../master

block title
    title Donate Gifts

block content
    .mission
        .header.d-flex.justify-content-center.align-items-center.flex-column.py-5
            h1 Our Mission
            h4 Learn about our commitment to making foster children happy
        section.custom-wrapper.mb-3.pb-3
            .pt-5.pb-3.container
                .row
                    .col-md-6.order-2.d-flex.justify-content-center.align-items-center
                        img.img-fluid.yel-box( src='/public/img/kids-smile.gif' alt='donate-school-supplies-to-children-image' )
                    .text-center.col-md-6
                        h3#navy.crayon-font.font-lg Bringing smiles to kids
                        p.bold-text.quick-font.pt-2 Mission: Every child should feel valued, remembered, and loved.
                        p.subtext.text-left.quick-font
                            | The DonateGifts project was founded and established in Chicago in August, 2020.
                            | We partner with over 35 certified foster care agencies all around the United States.
                            | And with your help, we collectively send holiday and birthday gifts to foster children and homeless youth.
                            | Our verified partner agencies create and manage wish cards for the kids under their care.
                            | Each wish card is unique and personal and linked with the gift item they want to receive.
                            | Donation is directly linked to the product sold on Amazon, and after your confirmed payment,
                            | we ship the gift to each managing foster agency.
                            | The agency staffs or social workers collect and distribute the delivered items to each kid.
            #about.container.py-4
                .row
                    .col-md-6.order-lg-2.order-md-1
                        h3#navy.crayon-font.font-lg.text-center What's special about DonateGifts
                        p.bold-text.quick-font.text-center.pt-2
                            | 1. Easy, efficient, and transparent gift donation
                        p.subtext.text-left.quick-font
                            | Often, the in-kind material donation process is more complicated than expected.
                            | We want to simplify your donation experience. With one button click, it will automatically send the
                            | child's wish item to their address. You will receive a tax-exempt receipt, shipping details,
                            | and delivery proof, as well as photos and messages from the child if our partner agency permits.
                            | No need to shop at the store or drive to the drop-off site. No unnecessary hassle for doing good.
                        p.bold-text.quick-font.text-center.pt-2
                            | 2. No random gifts, they get what they wished for
                        p.subtext.text-left.quick-font
                            | Unlike other donation programs and toy drives, our foster child can wish for a specific gift,
                            | such as a basketball or new shoes, rather than getting random gifts delivered to them.
                        p.bold-text.quick-font.text-center.pt-1
                            | 3. Perfect solution for COVID-19
                        p.subtext.text-left.quick-font
                            | Minimal handling, no contact delivery, &amp; no drop-off site with our secure payment and automated delivery system.
                        p.bold-text.quick-font.text-center.pt-2
                            | 4. Building personal connections and a loving community
                        p.subtext.text-left.quick-font
                            | It's more than just a simple donation. We are building a supportive community for the foster kids. Because they belong and they matter. Stay tuned for our new cool features in 2021.
                    .col-md-6.order-lg-1.order-md-2.d-flex.justify-content-center.align-items-center
                        img.img-fluid.yel-box( src='/public/img/three-kids-bg.jpg' alt='support the kids, foster love' )
