extends ../master

block title
    title Request new Password

block content
    .signup-bg
        .d-flex.container.justify-content-center.mg-top-btm
            .wrap-box
                form#reset.request( method='post' )
                    .wrap-input.mg-btm( data-validate='Email is required' )
                        input#email.input-default.quick-font( required type='email' name='email' placeholder='Email' title='example: username@xyz.com' )
                    .container-form-btn
                        button.form-btn.quick-font( type='submit' ) Submit

block scripts
    script.
        $(document).ready(() => {
            $("#reset").submit((e) => {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url:  "/profile/password/reset",
                    data: {
                        email: $("#email").val(),
                    },
                    success: (response, textStatus, xhr) => {
                        $("#submit-btn").prop("disabled",false);
                        showToast("A password reset link was sent. Click the link in the email to create a new password.");
                    },
                    error: (response, textStatus, errorThrown) => {
                        $("#submit-btn").prop("disabled",false);
                        showToast("An error occurred. Please try again.");
                    }
                })
            })
        });

    if successNotification
        script.
            showToast('#{locals.successNotification}');
    else if errorNotification
        script.
            showToast('#{locals.errorNotification}');
