extends ../master

block title
    title DonateGifts 501c3 IRS Registration Proof

block content
    .team.container.my-2
        img.img-fluid( src='/img/DG-IRS-501c3.png' alt='DonateGifts IRS 501c3 Approval Document' loading='lazy' )
