extends ../master

block title
    title Request new Password

block content
    .signup-bg
        .d-flex.container.justify-content-center.mg-top-btm
            .wrap-box
                form.request( action='/users/password/request' method='post' )
                    .wrap-input.mg-btm( data-validate='Email is required' )
                        input#email.input-default.quick-font( required type='email' name='email' placeholder='Email' title='example: username@xyz.com' )
                    .container-form-btn
                        button.form-btn.quick-font( type='submit' ) Submit

append scripts
    script.
        $(document).ready(() => {
            $(".request").submit((e) => {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url:  "/users/password/request",
                    data: {
                        email: $("#email").val(),
                    },
                    success: (response, textStatus, xhr) => {
                        $("#submit-btn").prop("disabled",false);
                        showToast("A password reset link was sent. Click the link in the email to create a new password.");
                    },
                    error: (response, textStatus, errorThrown) => {
                        $("#submit-btn").prop("disabled",false);
                        showToast(response.error.msg);
                    }
                })
            })
        });

    if locals.successNotification
        script.
            showToast(!{locals.successNotification});
    else if locals.errorNotification
        script.
            showToast(!{locals.errorNotification});
