extends ../master

block title
    title Volunteers at Donate Gifts

block content
    #team
        #header.text-center.py-5
            h1.text-primary.cool-font Meet Our Pets
            .fs-5.fw-light Say hello to our adorable pets

        .container
            .row.py-4
                .col-md-4
                    img.img-fluid.rounded.mb-4( src='/img/team/marco-cat-min.jpg' alt='marco cat' loading='lazy' )
                    img.img-fluid.rounded.mb-4.mb-md-0( src='/img/team/patric-dog-min.jpg' alt='patric-dog' loading='lazy' )
                .col-md-4
                    img.img-fluid.rounded.mb-4( src='/img/team/stacy-dog-min.jpeg' alt='stacy-dog' loading='lazy' )
                    img.img-fluid.rounded.mb-4.mb-md-0( src='/img/team/markell-hedgehog-min.jpg' alt='markell-hedgehog' loading='lazy' )
                .col-md-4
                    img.img-fluid.rounded.mb-4( src='/img/team/stacy-chicago-dog.png' alt='stacy-dog-2' loading='lazy' )
                    img.img-fluid.rounded.mb-4.mb-md-0( src='/img/team/tokikko-cat-min.jpg' alt='tokikko-cat' loading='lazy' )

            .py-5.my-2
                .text-center
                    h2.text-primary.cool-font The Volunteers
                    .fs-5
                        | Due to recent privacy concerns, the volunteer information is no longer available publicly.
            //-     #contributors.row.justify-content-center.flex-wrap.mt-2
            //-         for contributor in contributors
            //-             .contributor.card.border-0.shadow.m-1( style='width: 16rem;' )
            //-                 a( href=contributor.githubProfile target='_blank' )
            //-                     img.card-img-top( src=contributor.avatarUrl alt='user image' )
            //-                 .card-body.text-center
            //-                     h4.card-title= contributor.name
