extends ../master

block title
    title Who we are | Volunteers at Donate Gifts

block content
    #header.text-center.py-5
        h1.text-primary.cool-font Meet Our Pets
        .fs-5.fw-light Say hello to our adorable pets!

    .container
        .row.py-4
            .col-12.col-md-6.mb-2.mb-md-0
                img.img-fluid.shadow.rounded( src='/img/team/stacy-dog-min.jpeg' alt='stacy-dog' loading='lazy' )
            .col-12.col-md-6
                img.img-fluid.shadow.rounded( src='/img/team/marco-cat-min.jpg' alt='marco cat' loading='lazy' )

        .text-center.py-4
            h2.text-primary.cool-font The Volunteers
            .fs-5
                | Our kind volunteers work tirelessly to create positive
                | changes

        .row.py-4
            .col-12.col-md-6.d-flex.align-items-stretch.mb-3.mb-md-0
                .card.p-3.border-0.shadow
                    .card-title
                        .h4.text-primary
                            a.center-elements.text-decoration-none( href='https://www.linkedin.com/in/stacy-sealky-l-459962b7/' target='_blank' )
                                .me-1 Stacy Sealky Lee
                                .fab.fa-linkedin
                    .card-body
                        p.fw-bold Founder | Software Developer
                        p
                            span.fw-bold.me-1 Q:
                            span Why are you working for this project?
                        p
                            span.fw-bold.me-1 A:
                            span I believe that we are all born with the ability to change someone's life, small or big. I want the kids know that there are people who love them and care about them. I wish this platform to be a loving community that supports the kids in some small ways.
            .col-12.col-md-6.d-flex.align-items-stretch
                .card.p-3.border-0.shadow
                    .card-title
                        .h4.text-primary
                            a.center-elements.text-decoration-none( href='https://www.linkedin.com/in/marco-schuster-37b70a140/' target='_blank' )
                                .me-1 Marco Schuster
                                .fab.fa-linkedin
                    .card-body
                        p.fw-bold Software Developer
                        p
                            span.fw-bold.me-1 Q:
                            span Why are you working for this project?
                        p
                            span.fw-bold.me-1 A:
                            span Helping out children who otherwise wouldn't receive anything during holidays season is just amazing in itself. I'm happy to be part of this project and hope that we can make a difference in the lives of many children.

        .py-4
            .text-center
                h2.text-primary.cool-font Our past volunteers
            .row.justify-content-center.flex-wrap
                .col-auto
                    .fs-5
                        a.text-decoration-none.center-elements( href='https://www.linkedin.com/in/ivan-repusic-15869067/' target='_blank' )
                            .me-1 Ivan Repusic
                            .fab.fa-linkedin
                .col-auto
                    .fs-5
                        a.text-decoration-none.center-elements( href='https://www.linkedin.com/in/jeevanjacobjohn/' target='_blank' )
                            .me-1 Jacob John Jeevan
                            .fab.fa-linkedin
                .col-auto
                    .fs-5
                        a.text-decoration-none.center-elements( href='https://www.linkedin.com/in/patric-hoffmann-4154411b3/' target='_blank' )
                            .me-1 Patric Hoffmann
                            .fab.fa-linkedin