extends ../master

block title
    title Terms of Service | DonateGifts Inc. 501c3

block meta
    meta( name='description' content='User Agreement for DonateGifts | Send holiday birthday gifts to foster kids' )
    meta( name='”robots”' content='index, follow' )
    meta( name='keywords' content='user, children, donate' )

append scripts
    script.
        $(document).ready(function () {
            const root = ReactRoot(document.querySelector('#app-root'));
            root.render(
                React.createElement(
                    Terms,
                )
            );
        });