extends ../master

block title
    title Wish Cards

block modal
    include ../components/modal/loginModal.pug
    include ../components/modal/wishcardDonationModal.pug

append scripts
    script.
        $(document).ready(function () {
            const root = ReactRoot(document.querySelector('#app-root'));
            root.render(
                React.createElement(
                    WishCards,
                    {
                        user: !{JSON.stringify(user || null)},
                    }
                )
            );
        });