extends ../../master

block title
    title See Wish Cards | Donate Gifts

block content
    #wishcard-admin-root

block scripts
    script.
        $(document).ready(() => {
            console.log("DO I HIT THIS")
            console.log(WishcardsAdministrationPage)
            const root = ReactRoot(document.querySelector('#wishcard-admin-root'));
            root.render(
                React.createElement(
                    WishcardsAdministrationPage
                )
            );
        });
