#checkoutHelper.modal.fade( tabindex='-1' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content
            .modal-header.d-flex.align-items-start
                h4.quick-font.px-3.grn-font Where is my donation item being delivered to?
                button.close( type='button' data-dismiss='modal' aria-label='Close' )
                    span( aria-hidden='true' ) x
            .modal-body.quick-font
                .container
                    .row
                        p.px-3
                            -
                                var name = 'Partner Agency Name: ' + agency.agencyName;
                                var website = 'Website: ' + agency.agencyWebsite;
                                var phone = 'Phone Number: ' + agency.agencyPhone;
                                var address = 'Address (partial for privacy): ' + agency.agencyAddress.city  + ' ' + agency.agencyAddress.state + ' in ' + agency.agencyAddress.country;
                            span.bold-text.grn-font= name
                            br
                            span.bold-text.grn-font= website
                            br
                            span.bold-text.grn-font= phone
                            br
                            span.bold-text.grn-font= address
                            br
                    .row
                        p.px-3
                            | We deliver the kids' wish items to their
                            span.org-font managing foster agencies.
                            | All kids and youth are under our partner foster agencies' care and the
                            | social worker or agency staff will collect the shipped wish items and distribute each gift.
                            | We don't have a drop-off site because we handle all shipping orders to make the donation experience more
                            span.org-font easy and efficient
                            |  for you. We will notify you with the delivery process.
            .modal-footer
                button.btn.btn-secondary( type='button' data-dismiss='modal' ) Close

#checkoutHelper2.modal.fade( tabindex='-1' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content
            .modal-header.d-flex.align-items-start
                h4.quick-font.px-3.grn-font What is the processing fee?
                button.close( type='button' data-dismiss='modal' aria-label='Close' )
                    span( aria-hidden='true' ) x
            .modal-body.quick-font
                .container
                    .row
                        p.px-3
                            | We don't want to charge you anything extra, as we are a non-proft organization, but each card transaction is powered by Stripe
                            span.grn-font.bold-text (PCI compliant secure payment processing system).
                            | Stripe charges about 3% per transaction.
                    .row
                        p.px-3
                            | In addition, there is a 5% cover fee for item price changes, so that if the item price goes up right after your payment, we can still place the order and ship to the partner agency.
            .modal-footer
                button.btn.btn-secondary( type='button' data-dismiss='modal' ) Close

#checkoutHelper3.modal.fade( tabindex='-1' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content
            .modal-header.d-flex.align-items-start
                h4.quick-font.px-3.grn-font What is the item sales tax?
                button.close( type='button' data-dismiss='modal' aria-label='Close' )
                    span( aria-hidden='true' ) x
            .modal-body.quick-font
                .container
                    .row
                        p.px-3
                            | Item sales tax is
                            span.grn-font.bold-text charged by the merchant
                            | when we place the order to ship your donation item to our partner foster agency. Sales tax is governed at the state level and varies depending on the recipient (partner agency)'s address.
            .modal-footer
                button.btn.btn-secondary( type='button' data-dismiss='modal' ) Close

#checkoutHelper4.modal.fade( tabindex='-1' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content
            .modal-header.d-flex.align-items-start
                h4.quick-font.px-3.grn-font Please support our cause
                button.close( type='button' data-dismiss='modal' aria-label='Close' )
                    span( aria-hidden='true' ) x
            .modal-body.quick-font
                .container
                    .row
                        p.px-3
                            | We'd love to continue our project and help more kids,
                            span.grn-font.bold-text but as a nonprofit, it's difficult to continue without your support.
                            | Your support will help us to further develop and improve this project, so we can reach out to more foster kids and bring smiles to them.
                    .row
                        p.px-3
                            | We will also use the proceeds to purchase wish items that
                            span.grn-font.bold-text did not get donated by the deadline,
                            | so that no kid is left disappointed. Thank you so much for helping us help others.
            .modal-footer
                button.btn.btn-secondary( type='button' data-dismiss='modal' ) Close
