#formQuestionHelper.modal.fade( tabindex='-1' role='dialog' aria-labelledby='formQuestionHelper' aria-hidden='true' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-fullscreen-sm-down.modal-lg( role='document' )
        .modal-content
            .modal-header.border-0
                h2.quick-font Where to find the wish item Amazon URL
            .modal-body.quick-font
                img.img-fluid( src='/img/amazon-helper.png' alt='how-to-step-img' )
            .modal-footer.border-0
                button.btn.btn-secondary( type='button' data-bs-dismiss='modal' ) Close

#formQuestionHelper2.modal.fade( tabindex='-1' role='dialog' aria-labelledby='formQuestionHelper2' aria-hidden='true' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-fullscreen-sm-down.modal-lg( role='document' )
        .modal-content
            .modal-header.border-0
                h2.quick-font Why is price limited to $35?
            .modal-body.quick-font
                p.px-2 Items must be under $35.
                p.px-2 Accepted wish items include toys, games, school supplies, hobby supplies, and wearable items such as gloves, shoes, etc. However, they may <strong>NOT</strong> ask for gift cards or household/pantry supplies.
                p.px-2 We have this policy to prevent fraudulent wish submission and to ensure that every kid's wish gets a chance for donation.
            .modal-footer.border-0
                button.btn.btn-secondary( type='button' data-bs-dismiss='modal' ) Close

#formQuestionHelper3.modal.fade( tabindex='-1' role='dialog' aria-labelledby='formQuestionHelper3' aria-hidden='true' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-fullscreen-sm-down.modal-lg( role='document' )
        .modal-content
            .modal-header.border-0
                h2.quick-font Why is the child's photo required?
            .modal-body.quick-font
                p.px-2 The primary goal of this project is to build personal connections between donors and foster kids, and not just a one-time donation.
                p.px-2 Our donors are more encouraged to donate to the wish cards with children's photos. They find this personal connection very special.
                p.px-2 If privacy/confidentiality is a concern, please crop the identifiable features or use photos of them making a heart with their hands, masked faces, their backside, or wearing sunglasses, etc.
                p.px-2 We have this policy to prevent fraudulent wish submission and to ensure that every kid's wish gets a chance for donation.
            .modal-footer.border-0
                button.btn.btn-secondary( type='button' data-bs-dismiss='modal' ) Close
