#formQuestionHelper.modal.fade( tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content
        .modal-header.d-flex.align-items-start
            h1.form-helper-title.quick-font Where to find the wish item Amazon URL
            button.btn-close( type='button' data-bs-dismiss='modal' aria-label='Close' )
            span( aria-hidden='true' ) x
        .modal-body.quick-font
            .container
            .row
                img.img-fluid( src='/img/amazon-helper.png' alt='how-to-step-img' )
        .modal-footer
            button.btn.btn-secondary( type='button' data-bs-dismiss='modal' ) Close

#formQuestionHelper2.modal.fade( tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content
        .modal-header.d-flex.align-items-start
            h1.form-helper-title.quick-font.px-5 Why is price limited to $35?
            button.btn-close( type='button' data-bs-dismiss='modal' aria-label='Close' )
            span( aria-hidden='true' ) x
        .modal-body.quick-font
            .container
            .row
                p.px-5
                | Items must be under $35.
                br
                | Accepted wish items include toys, games, school supplies, hobby supplies, and wearable items such as gloves, shoes, etc.
                | However, they may
                strong NOT
                | ask for gift cards or household/pantry supplies.
            .row
                p.px-5
                | We have this policy to prevent fraudulent wish submission and to ensure that every kid's wish gets a chance for donation.
        .modal-footer
            button.btn.btn-secondary( type='button' data-bs-dismiss='modal' ) Close

#formQuestionHelper3.modal.fade( tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content
        .modal-header.d-flex.align-items-start
            h1.form-helper-title.quick-font.px-5 Why is the child's photo required?
            button.btn-close( type='button' data-bs-dismiss='modal' aria-label='Close' )
            span( aria-hidden='true' ) x
        .modal-body.quick-font
            .container
            .row.justify-content-center
                p.px-5
                | The primary goal of this project is to build personal connections between
                | donors and foster kids, and not just a one-time donation.
                p.px-5
                | Our donors are more encouraged to donate to the wish cards with children's photos. They find
                | this personal connection very special.
                p.px-5
                | If privacy/confidentiality is a concern, please crop the identifiable features or use photos
                | of them making a heart with their hands, masked faces, their backside, or wearing
                | sunglasses, etc.
            .row
                p.px-5
                | We have this policy to prevent fraudulent wish submission and to ensure that
                | every kid's wish gets a chance for donation.
        .modal-footer
            button.btn.btn-secondary( type='button' data-bs-dismiss='modal' ) Close
