#signupModalCenter.modal.fade( tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content.py-2
            .modal-header.center-elements.border-0
                h1.cool-font.text-warning Before we start our partnership
            .modal-body.quick-font
                .container-fluid
                    .row.text-dark.px-4
                        .center-elements.py-2
                            i.pr-2.fas.fa-ban.text-danger.display-2
                            .ms-3.fs-5 Minors or non-certified caregivers cannot register as an agency partner. You must be an authorized representative of an eligible organization.
                        .center-elements.py-2
                            i.pr-2.fas.fa-exclamation-triangle.text-danger.display-2
                            .ms-3.fs-5 You may not misuse our services for personal gains as written in our <a class="text-danger" href="/terms" target="_blank">Terms of Service Agreement</a>.
                        .center-elements.py-2
                            i.pr-2.far.fa-envelope.text-danger.display-2
                            .ms-3.fs-5 Please use your work email to sign up. We will send the verification code to an email associated with your non-profit organization. (e.g. name@your-organization.com)
                        .center-elements.py-2
                            i.pr-2.far.fa-check-circle.text-danger.display-2
                            .ms-3.fs-5 You may not have an immediate access to all features until your agency is reviewed and verified.
            .modal-footer.border-0.center-elements
                button.button-accent( type='button' data-bs-dismiss='modal' ) I agree and understand
