#wishCardDonateModal.modal.fade( tabindex='-1' role='dialog' aria-labelledby='wishCardDonateModal' aria-hidden='true' data-backdrop='static' )
    .modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content
            .modal-header
                button.btn-close( type='button' data-bs-dismiss='modal' aria-label='Close' )
            .modal-body.quick-font
                .container
                    p