.background-color {
    background-color: lighten($cream, 8%);
}

.agency-card-container{
    background-color: lighten($cream, 8%);
}

.card-details{
    background-color: #f8dfbf;
}

.card-details-publish-button{
    background-color: #a8d3aa;
    border-radius: 8px;
    margin-left: 4%;
}