%btn {
	appearance: none;
	outline: none;
	padding: 1rem 1.75rem;
	width: 100%;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}

%btn-main {
	border-radius: 0.55rem;
	font-size: 1.25rem;
	font-weight: $fw-semi-bold;
	max-width: 215px;
}

.button-primary {
	@extend %btn;
	@extend %btn-main;

	background-color: lighten($primary, 5);
	color: $white;
	border: 1.5px solid lighten($primary, 5);

	&:hover {
		background-color: darken($primary, 10);
		border: 1.5px solid darken($primary, 10);
	}
}

.button-secondary {
	@extend %btn;
	@extend %btn-main;

	background-color: $gray-200;
	color: $primary;
	border: 1.5px solid $gray-200;

	&:hover {
		background-color: $gray-400;
		color: darken($primary, 10);
		border: 1.5px solid $gray-400;
	}
}

.button-accent {
	@extend %btn;
	@extend %btn-main;

	background-color: $secondary;
	color: $white;
	border: 1.5px solid $secondary;

	&:hover {
		background-color: darken($secondary, 10);
		border: 1.5px solid darken($secondary, 10);
	}
}

.button-disabled {
	@extend %btn;
	@extend %btn-main;

	background-color: $gray-500;
	color: $white;
	cursor: not-allowed;
	border: 1.5px solid $gray-500;
}

.button-outline {
	@extend %btn;
	@extend %btn-main;

	border: 1.5px solid $white !important;
	color: $white;

	&:hover {
		background-color: $white;
		color: $primary;
	}
}
