%btn {
	appearance: none;
	outline: none;
	padding: 1rem 1.75rem;
	width: 100%;
	border: 0.5px solid transparent;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}

%btn-lg {
	padding: 1rem 2rem;
	font-size: 1.3rem;
	margin: 10px;
	line-height: 1.2em;
	transition: all 0.2s ease-in-out;
	border: 0.15rem solid transparent;
	display: inline-flex;
	border-radius: 1rem;
	outline: none;
}

%hover-navy {
	background-color: $primary;
	color: $white !important;
	border: 0.15rem solid $white;
	text-decoration: none;
}

%btn-long {
	padding: 1rem 3rem;
	appearance: none;
	outline: none;
	opacity: 1;
	border: 0.15rem solid transparent;
	border-radius: 1rem;
	width: 40vw !important;
	height: 8vh !important;
	font-size: 1.3rem;
	margin: 10px;
	line-height: 1.2em;
	text-align: center !important;
	align-items: center;
	justify-content: center;
}

%btn-updated {
	border-radius: 0.5rem;
	font-size: 1.25rem;
	border: none;
	font-weight: $fw-semi-bold;
}

.btn-orange-navy-lg {
	@extend %btn-lg;

	background-color: $secondary;
	color: $white !important;
	
	&:hover {
		@extend %hover-navy;
	}
}

.btn-white-navy-lg {
	@extend %btn-lg;

	background-color: $white;
	color: $primary !important;
	
	&:hover {
		@extend %hover-navy;
	}
}

.btn-orange-navy-lg-long {
	@extend %btn-long;
	
	background-color: $secondary;
	color: $white !important;
	
	&:hover {
		@extend %hover-navy;
	}
}


.button-accent {
	@extend %btn;
	@extend %btn-updated;
	
	background-color: $secondary;
	color: $white;
	
	&:hover {
		background-color: darken($secondary, 10);
	}
}

.button-primary {
	@extend %btn;
	@extend %btn-updated;
	
	background-color: lighten($primary, 5);
	color: $white;
	
	&:hover {
		background-color: darken($primary, 10);
	}
}

.button-secondary {
	@extend %btn;
	@extend %btn-updated;
	
	background-color: $gray-200;
	color: $primary;
	
	&:hover {
		background-color: $gray-400;
		color: darken($primary, 10);
	}
}

.button-disabled {
	@extend %btn;
	@extend %btn-updated;
	
	background-color: $gray-500;
	color: $white;
	cursor: not-allowed;
}