#community {
	.agency-profile-logo,
	.post-logo {
		max-height: 100px;
		height: 50%;
		width: auto;
	}

	.display-6 {
		font-size: 1.3rem;
		font-weight: $fw-semi-bold;
		color: $primary;
	}

	.post-image {
		max-height: 350px !important;
	}
}
