#donate {
	.btn-outline-success {
		&:hover {
			background-color: $success;
			color: $white;
		}
	}
	
	.checkout-img {
		max-width: 300px;
	}
}

#payment-success {
	.display-6 {
		font-size: 1.3rem;
		font-weight: $fw-semi-bold;
		color: $primary;
	}

	textarea {
		padding: 1em 1.5em;
	}
}

