.auth-modal {
	display: flex;
	justify-content: space-between;
	align-items: center;

	div {
		&:first-of-type {
			width: 65%;
		}

		&:last-of-type {
			width: 35%;
		}
	}
	
}

.background-gradient {
		background: linear-gradient(45deg, $danger, $warning);
}
