#profile {
	background-color: lighten($cream, 10%);

	.profile-welcome {
		background: url('../img/profile-bg.png') bottom center no-repeat;
		background-size: cover;
		min-height: 33vh;
	}

	.fa-edit {
		font-size: 1.25rem;
		color: $gray;
		cursor: pointer;
	}
}


#donation-history {
	.fa-question-circle {
		cursor: pointer;
		color: $secondary;
	}

	.fa-crown, 
	.fa-gifts, 
	.fa-hand-holding-usd {
		font-size: 2.5rem;
		color: $secondary;
	}

	.border-left {
		border-left: 1px solid $secondary;
	}
}