#agency-register-page {
    background-color: lighten($cream, 10%);
    min-height: 100vh;

    label {
        color: $navy-dark;
    }

    .card {
        .display-6 {
            font-size: 1.3rem;
            font-weight: $fw-semi-bold;
            color: $primary;
        }
    
        .fa-question-circle {
            color: $secondary;
            font-size: 1.15em;
            cursor: pointer;
        }
    }

    textarea {
        min-height: 260px;
    }

    .uploader {
        margin-top: 2.5em;
    }
}

