#agency-register-page {
    background-color: lighten($cream, 10%);
    min-height: 100vh;

    label {
        color: $navy-dark;
    }

    textarea {
        min-height: 255px;
    }
}

// this is temporary until the new signup system with react
#sign-up, #agency-data, #login {
	form {
		label,
		button {
			font-weight: $fw-semi-bold;
		}

		.btn-outline-light {
			&:hover {
				background-color: $white;
				color: $navy;
			}
		}

        #submit-btn {
            max-width: 280px !important;
        }
	}
}
