#wishcards {
	.card-img-top {
		height: 200px;
		object-fit: cover;
	}

	.card-body {
		background-color: lighten($cream, 8%);
	}
}


#wish-create-page {
	background-color: lighten($cream, 10%);
	margin-top: -5px;

	.card {
		label {
			color: $navy-dark;
		}

		.form-text {
			width: 200px;
		}
	}
}

