// get rid of choose item page entirely and make an gift idea page instead

.choicesContainer {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.choicesContainer label {
  margin-left: auto;
  margin-right: auto;
}

img.itemChoice {
  max-width: 250px;
  height: 250px;
  padding: 0.8em;
}

#ageGroupSelector {
  font-size: 1.1em;
  padding: 0.5em 1.1em;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 161, 154, 1);
  border: rgba(0, 161, 154, 1) solid 2px;
  outline: none;
}