
.mg2 {
  margin: 2em;
}

/* TODO: delete this later -- only used in chooseItems.ejs but really need to go */
.create-wish-card {
  width: 100%;
  min-height: 100%;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 3px dotted rgba(0, 161, 154, 0.6);
}


/* TODO: STACY DELETE THIS AFTER EDITING CHOOSEITEMS */
.wish-card-form-title {
  display: block;
  font-size: 2.7em;
  color: #00a19a;
  line-height: 1.2;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* --------- img uploader ---------------- */
.box {
  border: 1px solid #ddd;
  display: block;
  width: 100%;
  /* max-width: 30em; */
  margin: 0.5em 0 2em 0em;
  border-radius: 15px;
}

.box .content {
  padding: 1em;
}

.content p {
  font-size: 0.9em;
}

.upload-btn {
  /* color: #fff; */
  /* background-color: #aaa; */
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  /* white-space: nowrap; */
  /* margin: 0.6em 0.6em .6em 0; */
  padding: 0.35em 0.7em 0.4em;
  text-decoration: none;
  width: auto;
  position: relative;
  border-radius: 8px;
  /* user-select: none; */
  outline: none;
}

.box form {
  display: table;
}

.box input {
  width: 96%;
  color: #999;
}

.uploader-left,
.uploader-right {
  display: table-cell;
  vertical-align: middle;
}

.uploader-left {
  width: 6em;
  min-width: 6em;
  padding-right: 1em;
}

.uploader-left img {
  width: 100%;
}

.img-holder {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
}

.file-wrapper {
  cursor: pointer;
  display: inline-block;
  /* overflow: hidden;
    position: relative; */
}

.file-wrapper:hover .upload-btn {
  background-color: #00a19a !important;
}

.file-wrapper .upload-btn {
  background-color: rgba(0, 161, 154, 0.4) !important;
}


#create-btn {
  font-size: 1em;
  width: 250px;
  line-height: 1.7em;
}

#submit-btn {
  max-width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
}

.notify {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(255, 130, 107, 1) !important;
}


/* --------newly added by Stacy, move later if needed */
.help-modal {
  cursor: pointer;
  color: #00a19a !important;
}


.form-helper-title {
  font-size: 1.4em !important;
  color: #00a19a;
}

.profile-picture {
  height: 10em;
  width: 12em;
  padding-bottom: 1em;
}

.profile-picture-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picutre-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1em;
}

.button-upload-image {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
}

.button-delete-image {
  background-color: #D02FA6;
}