/* 
-----------------------------
Reusable Utils - Button 

TODO: this needs to be edited!
-----------------------------
*/
%btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	padding: 1rem 1.75rem;
	width: 100%;
	border: 0.5px solid transparent;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

%btn-lg {
	padding: 1rem 2rem;
	font-size: 1.3rem;
	margin: 10px;
	line-height: 1.2em;
	transition: all 0.2s ease-in-out;
	border: 0.15rem solid transparent;
	display: inline-flex;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	outline: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

%hover-navy {
	background-color: $navy;
	color: $white !important;
	border: 0.15rem solid $white;
	text-decoration: none;
}

.btn-orange-navy-lg {
	@extend %btn-lg;
	background-color: $secondary;
	color: $white !important;
	&:hover {
		@extend %hover-navy;
	}
}

.btn-white-navy-lg {
	@extend %btn-lg;
	background-color: $white;
	color: $navy !important;
	&:hover {
		@extend %hover-navy;
	}
}

%btn-long {
	padding: 1rem 3rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	opacity: 1;
	border: 0.15rem solid transparent;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	width: 40vw !important;
	height: 8vh !important;
	padding: 1rem 2rem;
	font-size: 1.3rem;
	margin: 10px;
	line-height: 1.2em;
	text-align: center !important;
	align-items: center;
	justify-content: center;
}

.btn-orange-navy-lg-long {
	@extend %btn-long;
	background-color: $secondary;
	color: $white !important;
	&:hover {
		@extend %hover-navy;
	}
}

.btn-disabled-long {
	@extend %btn-long;
	background-color: lighten($gray, 25%);
	color: $white !important;
}

@media only screen and (max-width: 768px) {
	.btn-disabled-long {
		width: 80vw !important;
	}
	.btn-orange-navy-lg-long {
		width: 80vw !important;
	}
}


/* 
-----------------------------
Updated buttons
-----------------------------
*/

%btn-updated {
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	font-size: 1.25rem;
	border: none;
	font-weight: $fw-semi-bold;
}

.button-accent {
	@extend %btn;
	@extend %btn-updated;
	background-color: $secondary;
	color: $white;
	&:hover {
		background-color: darken($secondary, 10);
	}
}

.button-primary {
	@extend %btn;
	@extend %btn-updated;
	background-color: lighten($navy, 5);
	color: $white;
	&:hover {
		background-color: darken($navy, 10);
	}
}
.button-secondary {
	@extend %btn;
	@extend %btn-updated;
	background-color: $gray-200;
	color: $navy;
	&:hover {
		background-color: $gray-400;
		color: darken($navy, 10);
	}
}

/* 
-----------------------------
Reusable Hero
-----------------------------
*/
.hero {
	text-align: center;
	color: $white;
	h1 {
		@include font-styling($font-heading, 3.4em);
		text-transform: uppercase;
	}
	h4 {
		@include font-styling($font-body, 1.3rem);
		padding-bottom: 0.5rem;
	}
}


/* 
-----------------------------
Text Typing Effect 
-----------------------------
*/
.typing {
	// margin-left: 10px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		width: 1px;
		height: 60px;
		border: 2px solid $white;
		animation: blink 0.5s infinite ease;
		-webkit-animation: blink 0.5s infinite ease;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
