.root {
    background-color: var(--notification-color, var(--mantine-primary-color-filled));

    &::before {
        background-color: var(--mantine-color-white);
    }
}

.description,
.title {
    color: var(--mantine-color-white);
}

/* stylelint-disable-next-line selector-class-pattern */
.closeButton {
    color: var(--mantine-color-white);

    @mixin hover {
        /* stylelint-disable-next-line color-function-notation */
        background-color: rgba(0, 0, 0, 10%);
    }
}
