extends ../../master

block title
    title Donation Payment Success | DonateGifts

block scripts
    script.
        $(document).ready(() => {
            const root = ReactRoot(document.querySelector('#app-root'));
            root.render(
                React.createElement(
                    PaymentSuccess
                )
            );
        });
