.agency-form-wrapper {
  width: 100%;
  background: #80c64a;
  background: linear-gradient(45deg, rgba(255, 95, 109, 0.9), rgba(255, 195, 113, 1));
  border-radius: 15px;
  overflow: hidden;
  padding: 40px;
}

#agency {
  margin: 3rem 0;
  padding: 0 2rem;
}

.agency__label {
  display: none;
}
.agency__input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  padding: 0.6rem 1.2rem;
  padding-left: 0;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  transition: 0.3s;
  font-size: 1.35em;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.2;
  margin: 10px 0;
}

.agency__input::placeholder,
.agency__textarea::placeholder {
  color: #fff;
  /* opacity: 0.8; */
}

.agency__textarea {
  padding: 0.8rem 1.2rem;
  padding-left: 0;
  min-height: 150px;
  resize: none;
  overflow-y: auto;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  transition: 0.3s;
  font-size: 1.35em;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.2;
}

.agency__button {
  color: rgb(255, 95, 109);
  font-size: 1.5em;
  line-height: 1.2;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin-top: 3vh;
  width: 100%;
  max-width: 300px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  border: 1px solid white;
  z-index: 1;
  background: linear-gradient(90deg, rgba(255, 195, 113, 1), rgba(255, 195, 113, 0.5));
  transition: all 0.4s;
}
.agency__button::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 1;
  transition: all 0.4s;
}

.agency__button:hover {
  color: #fff;
  border: none;
}

.agency__button:hover:before {
  opacity: 0;
}

.agency__link--red {
  text-decoration: none;
  color: #ff5c6f !important;
  font-weight: bold;
}
