.agency-profile {
  max-width: 150px;
  width: 50%;
  height: auto;
}

.community {
  background-color: #fff6ed;
}

#post-text {
  resize: none;
}

.post-image {
  max-width: 400px;
}

.card-border {
  border-radius: 2em;
}

.display-image {
  width: 40px;
  height: 40px;
}