#howTo {
  background-color: #fff6ed;
}

.howTo {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;

  display: inline-block;
  margin: 2rem 0;
  padding: 8px 50px 8px 50px;
  background: url(../img/select.png) no-repeat 95% center;
  background-color: #333a64;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #fff;
  width: 280px;
}

.howTo:focus,
.howTo:active {
  outline: none;
}

#partner {
  background: #fff;
}
