extends ../../master

block title
    title Register as a non profit partner | Donate Gifts

block scripts
    script.
        $(document).ready(() => {
            const root = ReactRoot(document.querySelector('#app-root'));
            root.render(
                React.createElement(
                    AgencyRegister
                )
            );
        });
