extends ../../master

block title
    title Sign Up | Donate Gifts

block modal
    include ../../components/modal/signupModal.pug

block scripts
    script.
        $(document).ready(() => {
            const root = ReactRoot(document.querySelector('#app-root'));
            root.render(
                React.createElement(
                    Signup
                )
            );
        });