extends ../../master

block title
    title Sign Up New User | Donate Gifts

append meta
    if locals.env.mode === 'development'
        meta( name='referrer' content='no-referrer-when-downgrade' )

block scripts
    script.
        $(document).ready(() => {
            const root = ReactRoot(document.querySelector('#app-root'));
            root.render(
                React.createElement(
                    Signup,
                    {
                        clientId: '#{locals.env.google}',
                    }
                )
            );
        });
